// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.go-top {
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index:5000;
  display: none;
  width: 35px;
  height: 35px;
  background-image: url($base-url + '/main/m-go-top.png');
  background-repeat: no-repeat;
  background-size: contain;
  &.active {
    display: inline;
    opacity: 0.8;
  }
}