// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 10px;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
  font-family: 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans', sans-serif, 'Roboto', Arial, 돋움, dotum, Helvetica, SimSun, 宋体;
} 

/**
 * Basic styles for links
 */
a {
  cursor: pointer;
  color: $text-color;
  text-decoration: none;

  // @include on-event {
  &:hover {
    color: $default-active-text-color;
    // text-decoration: underline;
  }
}

.breadcrumb {
  /**
   * TODO remove Bootstrap
   */
  padding: 0;
  margin: 10px 0;
  background-color: transparent;
  span {
    font-size: 100%;
  }
}

.required {
  color: #e02222;
}

.no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.button-disabled {
  background-color: #333 !important;
  color: #fff !important;
  border: 1px solid #333 !important;
  &:hover {
    opacity: 1 !important;
  }
}

.input-number-nospin::-webkit-outer-spin-button,
.input-number-nospin::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="checkbox"] {
  display:none;
  & + label {
    display:inline-block;
    width:17px;
    height:17px;
    background-image: url($base-url + '/main/checkbox_unchecked.png');
    vertical-align: top;
    zoom: 1;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor:pointer;
  }
  &:checked + label {
    background-image: url($base-url + '/main/checkbox_checked.png');
  }
}

@mixin multi-line-vertical-center($line-height) {
  position: relative;
  .inner {
    display: table;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    .content {
      display: table-cell;
      height: 100%;
      line-height: $line-height;
      text-align: center;
      vertical-align: middle;
      span {
        white-space: nowrap;
      }
    }
  }
}
