{
  "extends": "airbnb",
  "globals": {
    "$": false,
    "FB": false,
    "INIStdPay": false,
    "cloudinary": false,
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react",
  ],
  "rules": {
    "babel/arrow-parens": 2,
    "curly": [2, "all"],
    "indent": [2, 2],
    "max-len": [2, 120, 4],
    "no-param-reassign": 0,
    "no-mixed-requires": [1, {"grouping": true}],
    "react/jsx-no-bind": [1, { "allowArrowFunctions": true }],
    "react/prefer-es6-class": [0]
  },
}
