// -----------------------------------------------------------------------------
// This file contains styles that are specific to the address page.
// -----------------------------------------------------------------------------
.addressList, .addressList * {
  box-sizing: border-box
}
.addressList {
  font-size: 15px;
  color: #000
}
.addressList .hide {
  display: none
}
.addressList>ul>li:first-child {
  border-top: 0
}
.addressList>ul>li {
  position: relative;
  color: #333;
  padding: 12px;
  background: #fff;
  margin-bottom: 12px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  top: -50%
}
.addressList>ul>li .name .edit-address {
  color: #999;
  font-size: 12px;
  float: right
}
.addressList>ul>li .address-info {
  color: #666;
  font-size: 12px;
  height: 18px;
  line-height: 18px
}
.addressList .ms-icon {
  font-size: 16px;
  margin-left: 4px
}
.addressList>ul>li .default {
  position: absolute;
  color: #e62e04;
  right: 12px;
  top: 50%
}
.addressList>ul>li .hide {
  display: none;
}
.add-address {
  min-height: 44px;
  line-height: 44px;
  padding: 0 12px;
  background: #fff;
  cursor: pointer;
  margin-bottom: 12px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5
}
.add-address .ms-icon {
  margin-right: 8px
}
.wrap {
  padding: 12px
}
.wrap h2 {
  margin-bottom: 12px
}
.address-form .address-action {
  overflow: auto
}
.address-form .address-action .add {
  width: 49%;
  display: inline-block;
  word-break: break-word;
  line-height: 1
}
.address-form .address-action .cancel {
  width: 49%;
  display: inline-block
}
.field-form {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0
}
.field-form .field-item {
  margin-top: 15px
}
.field-form .item-tit {
  display: block;
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 5px
}
.field-form .item {
  margin-bottom: 2px;
  display: block;
  padding-left: 2px
}
.field-form input, .field-form select {
  box-sizing: border-box;
  width: 100%
}
.field-form input {
  margin-bottom: 5px
}
.field-form input[type=text], .field-form input[type=tel], .field-form input[type=password] {
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 44px;
  line-height: normal;
  margin-bottom: 12px;
  padding-left: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #333
}
.field-form select {
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 44px;
  line-height: 44px;
  margin-bottom: 12px;
  padding-left: 8px;
  background-color: #fff;
  color: #333
}
.wrap {
  background: #fff
}
.address-form .address-action .add {
  width: 100%
}
.field-form .field-item {
  margin-top: inherit
}
.field-form input {
  margin-bottom: inherit
}
.hidden {
  display: none
}
.field-form input[type=text], .field-form input[type=tel], .field-form input[type=password] {
  margin-bottom: 10px
}
.ms-city-wrap .ms-city-list li, .ms-state-wrap .ms-state-list li {
  box-sizing: border-box;
  position: relative;
  height: 43px;
  padding-left: 12px;
  padding-right: 12px;
  color: #333;
  background-color: #fff;
  font-size: 12px;
  line-height: 42px;
  border-bottom: #ddd solid 1px
}
.ms-city-wrap .ms-city-list li .icon-check, .ms-state-wrap .ms-state-list li .icon-check {
  display: none
}
.ms-city-wrap .ms-city-list li.selected .icon-check, .ms-state-wrap .ms-state-list li.selected .icon-check {
  display: inline-block
}
.ms-city-wrap .icon-check, .ms-state-wrap .icon-check {
  color: #e42d01;
  float: right;
  margin-right: -3px;
  margin-top: 8px
}
.panel-select {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 44px;
  line-height: 44px;
  margin-bottom: 12px;
  padding-left: 8px;
  color: #333
}
.panel-select .ms-icon {
  float: right;
  top: 12px;
  right: 6px;
  color: #999
}
.board-error {
  background-color: inherit;
  border: 0;
  padding: 0;
  font-size: 12px;
  color: #f60;
  margin-bottom: 16px!important;
  display: none;
}
.has-error {
  border: 1px solid #f60!important
}

