// -----------------------------------------------------------------------------
// This file contains styles that are specific to the category page.
// -----------------------------------------------------------------------------
.category-container {
  background-color: #eee;
}
.cate-list {
  background-color: #fff
}
.cate-list li:after {
  content: ' ';
  display: block;
  position: absolute;
  right: 12px;
  top: 20px;
  width: 12px;
  height: 12px;
  background: #000;
  background: rgba(0, 0, 0, 0);
  border-right: 1px solid #9e9d9e;
  border-top: 1px solid #9e9d9e;
  -webkit-transform: rotate(50deg) translateZ(0);
  transform: rotate(50deg) translateZ(0);
  z-index: 9;
}
.cate-list li {
  position: relative;
  border-bottom: 1px solid #ddd;
}
.cate-list li a {
  display: block;
  font-size: 14px;
  line-height: 54px;
  height: 54px
}
.cate-list li {
  padding-left: 54px
}
.cate-list li a {
  padding-left: 0
}
.cate-list li span {
  position: absolute;
  left: 0;
  top: 0
}
[class*=icon-topcat-] {
  display: inline-block;
  width: 54px;
  height: 54px;
  background: url('http://gtms02.alicdn.com/tps/i2/TB1a4PtGXXXXXatXVXXsbdU3XXX-344-2114.png') no-repeat;
  background-size: 172px 1057px
}
.icon-topcat-10016 {
  background-position: 0 0
}
.icon-topcat-10016W {
  background-position: 0 -59px
}
.icon-topcat-10001 {
  background-position: 0 -118px
}
.icon-topcat-10001W {
  background-position: 0 -177px
}
.icon-topcat-10002 {
  background-position: 0 -236px
}
.icon-topcat-10002W {
  background-position: 0 -295px
}
.icon-topcat-10003 {
  background-position: 0 -354px
}
.icon-topcat-10003W {
  background-position: 0 -413px
}
.icon-topcat-10004 {
  background-position: 0 -472px
}
.icon-topcat-10004W {
  background-position: 0 -531px
}
.icon-topcat-10008 {
  background-position: 0 -590px
}
.icon-topcat-10008W {
  background-position: 0 -649px
}
.icon-topcat-10009 {
  background-position: 0 -708px
}
.icon-topcat-10009W {
  background-position: 0 -767px
}
.icon-topcat-10005 {
  background-position: 0 -826px
}
.icon-topcat-10005W {
  background-position: 0 -885px
}
.icon-topcat-10011 {
  background-position: 0 -944px
}
.icon-topcat-10011W {
  background-position: -59px 0
}
.icon-topcat-10012 {
  background-position: -59px -59px
}
.icon-topcat-10012W {
  background-position: -59px -118px
}
.icon-topcat-10013 {
  background-position: -59px -177px
}
.icon-topcat-10013W {
  background-position: -59px -236px
}
.icon-topcat-10014 {
  background-position: -59px -295px
}
.icon-topcat-10014W {
  background-position: -59px -354px
}
.icon-topcat-10015 {
  background-position: -59px -413px
}
.icon-topcat-10015W {
  background-position: -59px -472px
}
.icon-topcat-10017 {
  background-position: -59px -531px
}
.icon-topcat-10017W {
  background-position: -59px -590px
}
.icon-topcat-10018 {
  background-position: -59px -649px
}
.icon-topcat-10018W {
  background-position: -59px -708px
}
.icon-topcat-10019 {
  background-position: -59px -767px
}
.icon-topcat-10019W {
  background-position: -59px -826px
}
.icon-topcat-10021 {
  background-position: -59px -885px
}
.icon-topcat-10021W {
  background-position: -59px -944px
}
.icon-topcat-10023 {
  background-position: -118px 0
}
.icon-topcat-10023W {
  background-position: -118px -59px
}
.icon-topcat-10024 {
  background-position: -118px -118px
}
.icon-topcat-10024W {
  background-position: -118px -177px
}
.icon-topcat-10025 {
  background-position: -118px -236px
}
.icon-topcat-10025W {
  background-position: -118px -295px
}
.icon-topcat-10010 {
  background-position: -118px -354px
}
.icon-topcat-10010W {
  background-position: -118px -413px
}
.ms-gallery .ms-gallery-inner {
  border: 1px solid #e8e8e8
}
.recommend-wrap {
  background-color: #fff
}
.recommend-wrap .mui-gallery-inner {
  border: 1px solid #e8e8e8
}
.products-wrap {
  box-sizing: border-box;
  min-height: 24px;
  background-color: #fff;
  padding-top: 12px;
  padding-bottom: 12px
}
.category-container {
  @media (max-width: 320px) {
    .ms-gallery .ms-gallery-item .ms-gallery-pic {
      height: 150px
    }
  }
  @media (min-width:321px) and (max-width:375px) {
    .ms-gallery .ms-gallery-item .ms-gallery-pic {
      height: 174px
    }
  }
  @media (min-width:376px) {
    .ms-gallery .ms-gallery-item .ms-gallery-pic {
      height: 195px
    }
  }
  .ms-gallery {
    width: 100%;
    overflow: hidden
  }
  .ms-gallery .ms-gallery-inner a {
    padding-bottom: 6px;
    position: relative;
    color: #999;
    display: block;
    text-decoration: none;
    background-color: #fff
  }
  .ms-gallery .ms-gallery-item {
    width: 49%;
    float: left;
    padding-top: 8px;
    overflow: hidden;
    padding-left: 2%;
    box-sizing: border-box
  }
  .ms-gallery .ms-gallery-item .ms-gallery-pic {
    vertical-align: middle;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    overflow: hidden
  }
  .ms-gallery .ms-gallery-item .ms-gallery-discount {
    width: 46px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    background-color: #e62e04;
    opacity: .9;
    font-size: 14px;
    color: #fff;
    text-align: center
  }
  .ms-gallery .ms-gallery-item .ms-gallery-info {
    padding-left: 4px
  }
  .ms-gallery .ms-gallery-item .ms-gallery-info .ms-gallery-title {
    margin-top: 4px
  }
  .ms-gallery .ms-gallery-item .ms-gallery-info .ms-gallery-title span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
  }
  .ms-gallery .ms-gallery-item .ms-gallery-info .ms-gallery-dprice {
    margin-top: 4px;
    font-size: 11px;
    height: 18px;
    display: block;
    line-height: 18px
  }
  .ms-gallery .ms-gallery-item .ms-gallery-info .ms-gallery-dprice em {
    color: #e62e04;
    font-size: 13px;
    font-style: normal;
    letter-spacing: -1px;
    white-space: nowrap
  }
  .ms-gallery .ms-gallery-item .ms-gallery-info .ms-gallery-oprice {
    margin-top: 4px;
    font-size: 11px;
    display: block
  }
  .ms-gallery .ms-gallery-item .ms-gallery-pic img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin: 0 auto
  }
}

