// -----------------------------------------------------------------------------
// This file contains styles that are specific to the brand page.
// -----------------------------------------------------------------------------
#myorder-container {
  background-color: #eee;
  /*header {
    background-color: white;
    font-size: 16px;
    position: relative;
    margin-bottom: 8px;
  }
  .order-filter {
    padding-left: 10px;
    height: 44px;
    line-height: 44px;
  }
  .expand-arrow:after {
    position: absolute;
    top: 0;
    right: 8px;
    width: 12px;
    height: 44px;
    content: "";
    background: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABgAAABYCAMAAADY8cemAAAAPFBMVEUAAADmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgRaV1LkAAAAE3RSTlMAet8gDQXL+r+xil8V06WXaVJOB8o4jAAAAHFJREFUSMftyUkOhDAQQ1FXZiCMvv9dW40IpYg9C1RvZX3DGPN9suJpFWDh+OgjFyAO96N9iDgf6bqc/f8UStdLvGYo3O6+sQQ0IXG65sTUuj7aVZ25A9g5V/SqyweO7FpX3mXJzkPpQ+39kzyMMS/7AdMoA1sG1fVZAAAAAElFTkSuQmCC') no-repeat center center;
    background-size: 100% 100%
  }*/
}
.myorder-list {
  background-color: white;
  padding-left: 10px;
}
.myorder-listitem {
  display: block;
  border-bottom: 1px solid #eee;
  .myorder-ymd {
    font-size: 12px;
    color: black;
    margin-top: 15px;
  }
  .myorder-info {
    position: relative;
    color: black;
    margin: 15px 0;
  }
  .myorder-title {
    font-size: 15px;
    width: 70%;
  }
  .myorder-status {
    position: absolute;
    top: 0;
    left: 70%;
    height: 100%;
    margin-top: 3px;
    font-size: 13px;
    max-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .myorder-price {
    font-size: 15px;
    font-weight: bold;
    color: #e62e04;
    margin-bottom: 15px;
  }
}
#myorder-detail-container {
  background-color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
}
.myorder-box {
  background-color: white;
  border: 1px solid #ddd;
  font-size: 13px;
  margin-bottom: 15px;
  .box-header {
    border-bottom: 1px solid #ddd;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
  }
  .box-detail {
    padding: 3px 10px;

    .order-info-black {
      margin : 10px 0px;
      color: black;
    }
    .order-info-red {
      margin : 10px 0px;
      color: #e62e04;
    }
    .order-price-black {
      margin: 10px 0px;
      color: black;
      clear: both;
    }
    .order-price-gray {
      margin : 10px 0px;
      color: #bfbfbf;
    }
    .order-price-red {
      clear: both;
      color: #e62e04;
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .line-dash{
      border: 0.2px dashed #bfbfbf;
    }
    .cost {
      float: right;
    }
    .info {
      float : right;
    }

  }
}
.order-product-list{
  font-size : 13px;
  margin-bottom : 15px;
  .order-brand {
    margin-top: 5px;
    border: 1px solid #ddd;
    background-color : white;
    //font-size: 15px;
    color: #666;
    .seller{
      border-bottom : 1px solid #ddd;
      color : black;
      font-weight: bold;
      padding : 5px 10px;
    }
    .product-items{
      .product-item{
        padding: 8px;
        .info {
          position : relative;
          .pic {
            margin: 5px 5px 5px 5px;
            position: relative;
            width: 90px;
            display: inline-block;
            text-align: center;
            border: 1px solid #f2f2f2;
            img {
              width: 100%;
              height: auto;
            }
          }
          .detail {
            margin: 5px 5px 5px 5px;
            width: 60%;
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            .details-desc-row-one {
              margin-bottom: 5px;
              .details-title {
              }
              .variant-attribute {
                font-size: 12px;
                font-weight: 200;
                color: #666;
              }
            }
            .details-desc-row-two{
              .unit-price {
                color: #000;
                font-weight: 200;
                margin-top: 10px;
              }
              .quantity {
                color: #000;
                display: inline-block;
                font-weight: 200;
                &.cancel {
                  color: #bfbfbf;
                  margin-left: 10px;
                  text-decoration: line-through;
                }
              }
              .total-price {
                right: 0px;
                bottom: 0px;
                position: absolute;
                font-size:20px;
                color: #e62e04;
              }
            }
          }
        }
      }
    }
  }
}

