// -----------------------------------------------------------------------------
// This file contains styles that are specific to the brand page.
// -----------------------------------------------------------------------------
#myorder-container {
  background-color: #eee;
  /*header {
    background-color: white;
    font-size: 16px;
    position: relative;
    margin-bottom: 8px;
  }
  .order-filter {
    padding-left: 10px;
    height: 44px;
    line-height: 44px;
  }
  .expand-arrow:after {
    position: absolute;
    top: 0;
    right: 8px;
    width: 12px;
    height: 44px;
    content: "";
    background: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABgAAABYCAMAAADY8cemAAAAPFBMVEUAAADmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgRaV1LkAAAAE3RSTlMAet8gDQXL+r+xil8V06WXaVJOB8o4jAAAAHFJREFUSMftyUkOhDAQQ1FXZiCMvv9dW40IpYg9C1RvZX3DGPN9suJpFWDh+OgjFyAO96N9iDgf6bqc/f8UStdLvGYo3O6+sQQ0IXG65sTUuj7aVZ25A9g5V/SqyweO7FpX3mXJzkPpQ+39kzyMMS/7AdMoA1sG1fVZAAAAAElFTkSuQmCC') no-repeat center center;
    background-size: 100% 100%
  }*/
}
.myorder-list {
  background-color: white;
  padding-left: 10px;
}
.myorder-listitem {
  display: block;
  border-bottom: 1px solid #eee;
  .myorder-ymd {
    font-size: 12px;
    color: black;
    margin-top: 15px;
  }
  .myorder-info {
    position: relative;
    color: black;
    margin: 15px 0;
  }
  .myorder-title {
    font-size: 15px;
    width: 70%;
  }
  .myorder-status {
    position: absolute;
    top: 0;
    left: 70%;
    height: 100%;
    margin-top: 3px;
    font-size: 13px;
    max-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .myorder-price {
    font-size: 15px;
    font-weight: bold;
    color: #e62e04;
    margin-bottom: 15px;
  }
}
#myorder-detail-container {
  background-color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
}
.myorder-box {
  background-color: white;
  border: 1px solid #ddd;
  font-size: 13px;
  margin-bottom: 15px;
  .box-header {
    border-bottom: 1px solid #ddd;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
  }
  .box-detail {
    padding: 5px 10px;
    .order-info-black {
      margin-bottom: 5px;
      color: black;
    }
    .order-info-red {
      color: #e62e04;
    }
    .order-price-black {
      clear: both;
      color: black;
      margin-top: 10px;
    }
    .order-price-red {
      clear: both;
      color: #e62e04;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .cost {
      float: right;
    }
  }
}

