// -----------------------------------------------------------------------------
// This file contains styles that are specific to 'xxx' page.
// -----------------------------------------------------------------------------
.service-info-navbar {
  border-bottom: 2px solid #eee;
  padding: 0 15px;
  width: 100%;
  .item {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    width: 25%;
    span {
      display: inline-block;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: -1px;
    }
    &.active {
      span {
        color: #ed4500;
        border-bottom: 2px solid #ed4500;
      }
    }
  }
}