// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
} 

/**
 * Basic styles for links
 */
a {
  color: $text-color;
  cursor: pointer;
  text-decoration: none;

  @include on-event {
    color: $brand-color;
    text-decoration: underline;
  }
}

ul, ol {
  list-style: none;
}
a, abbr, acronym, address, article, aside, blockquote, body, caption, code, dd, del, dfn, dialog, div, dl, dt, em, figure, firldset, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, label, legend, li, nav, object, ol, p, pre, q, section, span, table, tbody, td, tfoot, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

input[type="checkbox"] {
  display:none;
  & + label {
    background-size: 100%;
    display:inline-block;
    width:23px;
    height:23px;
    background-image: url($base-url + '/main/checkbox_unchecked.png');
    vertical-align: top;
    zoom: 1;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor:pointer;
  }
  &:checked + label {
    background-image: url($base-url + '/main/checkbox_checked.png');
  }
}

input {
  -webkit-appearance: none;
}
