
.product-list-left-box {
  width: 180px;
  display: inline-block;
  padding: 0 8px 20px 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  .category-arrow {
    display: inline-block;
    height: 16px;
    width: 10px;
  }
}
.product-list-category-title {
  font: normal normal bold normal 16px / 20px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
}

.product-list-category-depth1 {
  padding: 5px 10px 0px 0px;
  a {
    font: normal normal normal normal 12px / 16px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
  }
}

.product-list-category-depth2 {
  padding: 0px 0px 0px 10px;
}

.product-list-category-bottom {
  font: normal normal normal normal 12px / 16px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
  padding: 5px 10px 0px 0px;
}

.product-list-category-bottom-text {
  font: normal normal bold normal 12px / 16px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
  outline: rgb(102, 102, 102) none 0px;
}

