// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.gm-footer {
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
  .copyright {
    padding: 8px 16px 12px 16px;
    color: #999;
    font-size: 10px;
    line-height: 26px;
    a {
     color: #999;
    }
    .text-link {
      color: #06c;
    }
  }
  a {
    text-decoration: none;
  }
  .text-bold {
    font-weight: 700;
  }
}
.footer-linkshops {
  background-color: #e8e8e8;
  padding-top: 20px;
  .footer-info-box {
    padding: 2px;
  }
  .info-box {
    width: 50%;
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 3px;
    vertical-align: top;
    text-align: left;
  }
  .info-title {
    color: #555;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    letter-spacing: -1px;
    line-height: 28px;
    img {
      height: 15px;
      margin-top: 7px;
    }
  }
  .info-content {
    color: #777;
    letter-spacing: -1px;
    // line-height: 18px;
    font-size: 10px;
  }
}
.footer-external-link {
  text-align: center;
  .item {
    height: 50px;
    width: 120px;
  }
}
.footer-copyright {
  padding: 20px 0;
  font: normal 10px 'Roboto';
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
