// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.gm-header {
  position: relative;
  width: 100%;
  height: 48px;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  line-height: 48px;
  color: #333;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  .drawer {
    box-sizing: border-box;
    display: block;
    height: 48px;
    width: 44px;
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url($base-url + '/03_icon_001.png');
    background-size: 44px 28px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .logo {
    display: block;
    padding: 12px 0 9px 0;
  }
  .logo-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 40%;
    max-height: 30px;
  }
  #gm-title {
    display: inline-block;
    width: 44%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .position-right {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
  }
  .search {
    box-sizing: border-box;
    display: block;
    height: 48px;
    width: 44px;
    padding: 10px 0;
    margin-right: 1px;
    background-image: url($base-url + '/03_icon_002.png');
    background-size: 44px 28px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .cart {
    box-sizing: border-box;
    height: 48px;
    width: 44px;
    padding: 10px 0;
    position: relative;
    display: block;
    background-image: url($base-url + '/03_icon_003.png');
    background-size: 44px 28px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .cart-count {
    box-sizing: border-box;
    /*display: none;*/
    background-color: #e62e04;
    height: 14px;
    min-width: 14px;
    padding: 0 2px;
    border-radius: 14px;
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    position: absolute;
    top: 6px;
    right: 6px;
  }
}
.ms-drawer .ms-icon {
  font-size: 20px;
}
.ms-drawer {
  background-color: #fff;
  position: absolute;
  width: 70%;
  -webkit-transform: translateX(-100%);
  -webkit-transition: -webkit-transform .25s ease-out;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 51;
  font-size: 12px;
  overflow-y: auto;
}
.ms-drawer.open {
  -webkit-transform: translateX(0);
}
.ms-drawer-mask {
  background-color: rgba(0, 0, 0, .3);
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 51;
  display: none;
}
.ms-drawer-mask .ms-drawer-back {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 10px 0;
  background-size: 44px 28px;
  background-position: center center;
  background-repeat: no-repeat;
}
.ms-drawer-mask.open {
  display: block;
}
.ms-drawer-loginInfo {
  height: 48px;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-align: center;
  background-color: #e62e02;
  overflow: hidden;
  background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAKoAAABgCAMAAAC62xliAAAAe1BMVEUAAAD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQD/mQDSahMXAAAAKXRSTlMAzMkFwcUQsgpZupmrLaaevYtIfD41Yna2hiYeGlCicW0ij0Rok4IYOhQliRYAAAZjSURBVHjapNnplqIwEAXge0PYURFwxV27Z97/CeeMzogkqYDt96v7tIeUBaSq0nCKyQ0MJV1UAtOCGpJrHh/yPJ+uQ3Z+wyOA39QRQkWnDUwFNWRpSUMMj+9oMNQ5MDKt5rUmZAiffcaeBrJliAFTFcGypNPM+ppU8KvW7GSQpYwxoPiCLVB0uuLVliQjDGhi/ldBdCNzdJLfsBXOtQ50CiPrQxUGLWLelRDNzVchjfcwnYTb4bZGpzXfNdmiIMk9BO2aJI9GBGWKvgQuCQUHPM2M4L0mU2oIVop/GUk7knqJETQFOf7Z8SHBOFthT001H47oy0nqEwYVlBwC3H3x4YYPRHWXk2/0BZokw2MAvwtf6cOq2t0v3ZzyeXD/yXx83zepY774smvhXbjyB1u/xFm33u8ywTuW09llXs/zolTsK2DK+aDqBLIb/4kbuERKXsIvmis6ac8i6huilHdlI26EnQXek2wUXQLPKjEMZmmtxdWUUC/HSWpF2x6maEw6ViTDCSTffHXEEOs1DlYhTTksRT+p5537Bq8jGMQeYQK/rxqW4GgGG8KyN1qyy6yFaco4gKhmn47gEUxVApebZs9Vysn6pUQetugrfZEGIQ3rAKJtKTcKS+3frhCbLVlMTid4EWQJZCtaCkiOpEpGjgpnmDbme5toksUCT7szPELaYnc4lSY5h8++C3Zq/9HaGiaP5RYY48QnVRb5fD7/mmaqPMOSZhzTfleZuCft7D63FmuT3HXFqy06uybAq6CaKaO4yxqx+yaZCutnFTqe6qBXCQxJns3q5XWxuKb1LONThBF+x872CopaHqiz/XBSdQqXjdDhylpzVGis92IJU8ynMoUsJdURghVtO8iqjTEqULVGqCEsFTu+UaHkuoWopmkG2UIZSdkezHKiToMzir7Bac8LfHIaWogmilsY2lm/oOuhB00eFdZH+GXsmULUKBK23fL1lxUczuyIo0Jzw4BW8dXWV8aoMGAXjC1CqjY+GmHQaVTB/VXYzdR4BzqoTYI3ZexM5Nn/k1CPdFLzCG+5Dp1SBqeQ/CjUhiYVluss0/ryXrBr75yxyFW3AH4m4Sudpy3+CX7hHWk/qZPNvsVd0qymIV8l+Bk+hZszPqD40HShqzAMFS3NhyvoFE4RRsqNUfaqKDh+FKpawm1rjAqyyjz6vVIw/STUQ+LbzIpxwVrN555u4QehppC0HD8qZNac8U23CX4iINUEoplwjCV9Vps7mNMFP7FgeIZox866gl9t35+zGv0ELDHkps5Db/XYUWFpJlV+BBxxaQy5LCCLaPCOCpUjhCAceVaZEkN28PjqF1yttcqWkFwZwlKPTGtJjOQ/+lXF6neAh3Mkh3oa/Y87lVinFPjE/HHVWYNR0lDeQ4amr+yzUBNFUn0ncGgCWI4rd67dUrPS4QMbkpc/1ZqNlpowEIXvJEEUCFH8Z13L0t3a93/CnmPt4jJMpIfTNH5P8KHGyb3DXBgN6ZrJNloehxxVo+MwTVUrMhYSl4RFBeGpUmm8Xu4uzdNU1+Q0ZGo1MiocScB8uqbTVHWyf3yTUh+PZRckYeo/E3OaarMb9weRn+CnpntUelzYGYDZdre69ebFRFU7ush0L/Ch7zxdBY6lv1CdGiFdDQ+9MoRRBlC9W3WXJ4iwIoT9QAKoWlb9iqqp+CznIKpIWfUrqO49OSOM6uJr9avtcIOnvkPEBVKF+nr5eC2qgXJWbX05I5Rq2at+X3lUWPtMkQdTfe8H+x2LCufKmzOCqV5Y9dv2twobeGjDqUKx6jdjWwVfzgii2onZoc4+afTYnEFk2krjX1Pw6vfIBqk3Z5DKLULgePWrE7ZVEPjR9eMByAf69EbcKvA0W14Qipw2nkDt/9TWpBYIhzsIp6VDtTMhZyzfEJCiGrO4+ziBs0/nCMlRWB/3yXlUaDWC8iL8X3Jc79uea8TAcKVS1ogPTcMUFtHBa1VlsixbJuUWkXGgK7zzxBsio+xEywpR4x7MqjmiIacruTRUs+UCkXBVNT991ZzZIQpKIjpr36mLRjYlWo8ou5IG/x1D7/4HkTq38FADma38AlJ4NqtRBSKPCuE5wYPtDVxjkmQ1Q4wUdCNrP1/qucR46UJ982wimlgC51hvg4PVb/YMooAj+oan4EQmyhM0QH6I/zT9ZuY0ngQrm/4CTL9HFjRKI7sAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-size: 85px 48px;
  background-position: top right;
}
.ms-drawer-loginInfo .drawer-unlogin {
  padding: 17px 16px 18px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}
.ms-drawer-loginInfo .drawer-signin {
  padding: 0 12px 0 0;
  border-right: solid 1px rgba(255, 255, 255, .5);
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.24;
  color: #fff;
}
.ms-drawer-loginInfo .drawer-join {
  padding-left: 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.24;
  color: #fff;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ms-drawer-loginInfo .user-face img {
  width: 100%
}
.ms-drawer-usercenter {
  display: -webkit-box;
  text-align: center;
  background-color: #fff;
  border: solid 1px #ddd;
  border-width: 1px 0;
}
.ms-drawer-usercenter i {
  display: block;
}
.ms-drawer-usercenter span {
  display: block;
  margin-top: 4px;
}
.ms-drawer-usercenter .drawer-cart, .ms-drawer-usercenter .drawer-category, .ms-drawer-usercenter .drawer-myOrder, .ms-drawer-usercenter .drawer-wishList {
  width: 35%;
  display: block;
  padding-top: 8px;
  padding-bottom: 12px;
  font-size: 11px;
}
.ms-drawer-usercenter .drawer-cart {
  width: 30%
}
.drawer-guide {
  padding: 4px 0;
}
.drawer-feature {
  border-top: 1px solid #f2f2f2;
  margin: 0 0 0 12px;
  padding: 4px 0;
}
.drawer-feature li a, .drawer-guide li a {
  display: block;
}
.drawer-guide li {
  height: 44px;
  line-height: 44px;
  padding-left: 12px;
  overflow: hidden;
  background-color: #fff;
}
.drawer-feature li {
  overflow: hidden;
  background-color: #fff;
}
.drawer-feature li a {
  background-color: #fff;
  font-size: 12px;
  line-height: 36px;
  height: 36px;
}
.drawer-feature li i, .drawer-guide li i {
  margin-right: 8px;
}
.drawer-home, .drawer-wishList {
  border-bottom: 1px solid #f2f2f2;
}
.drawer-username {
  color: #fff;
  font-size: 13px;
}
.drawer-logined {
  color: #333;
  line-height: 1;
  padding: 17px 16px 18px 16px;
}
.drawer-email {
  font-size: 12px;
  margin-top: 8px;
}
.drawer-language b {
  font-weight: 400;
}
.drawer-language span {
  float: right;
  color: #666;
  margin-right: 12px;
}
#ms-man {
  -webkit-user-select: none;
}
.ms-tab .tab-head {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  display: flex;
  display: -ms-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%
}
.ms-tab .tab-head li {
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 14px;
  background-color: #f5f5f5;
  flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  width: 100%;
  -webkit-user-select: none;
}
.ms-tab .tab-head li:first-child {
  border-left: none;
}
.ms-tab .tab-head li.tab-actived {
  color: #e62e04;
  background-color: #fff;
}
.ms-tab .tab-body {
  padding: 16px 12px;
}
.ms-tab .tab-pane {
  display: none;
}
.ms-panel {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  display: none;
  z-index: 100;
  -webkit-transform: translateZ(0);
}
.ms-panel.horizontal {
  left: 100%;
  top: 0;
}
.ms-panel .ms-panel-header {
  height: 48px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 15px;
  line-height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}
.ms-panel .ms-panel-bodyer {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  padding-top: 48px;
  height: 100%;
  position: relative;
  z-index: 1;
}
.ms-panel .ms-panel-cancel {
  background: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAG1BMVEUAAABmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZ8aTmeAAAACHRSTlMAb0X2VldYYZ26vlYAAACMSURBVBjTRdEhDsJQEEXR16QEX4VEsIIqloAsCiRLwJDgCTDLhk5u3vtucq6YyZcm5V2k4bX3uKm7djV7vtb3P68BXB8NVbO5bkowrqwEp2YCM4GZAHYAOzg0Jzg2J4AT1KK8sXwFq7GkmcB8JoDfvWR44QqzCGCuCBOECWAHcIKnWf03WzN/91DepB+/ckpiQmNfgQAAAABJRU5ErkJggg==') no-repeat 0 center;
  width: 15px;
  height: 100%;
  position: absolute;
  right: 12px;
  top: 0;
  display: block;
  background-size: 100% auto;
}
.ms-panel.horizontal .ms-panel-cancel {
  background: 0 0;
  width: 25px;
  height: 100%;
  position: absolute;
  left: 6px;
  top: 0;
  right: auto;
  display: block;
  background-size: 100% auto;
}
.ms-panel.horizontal .ms-panel-cancel .ms-icon {
  font-size: 25px;
  font-weight: 700;
  color: #858585;
  top: 3px;
}
.ms-panel.panel-show {
  visibility: visible;
  display: block;
}
#login-join-box {
  font-size: 16px!important;
}
#login-join-box .xman_box_inner {
  background-color: transparent;
}
#login-join-box .server_error, #login-join-box .xman-validate-error {
  padding: 6px 5px 5px 25px;
  background: 0 0;
  border: none;
  font-size: 12px;
  font-family: inherit;
  line-height: 18px;
  color: #f60;
  margin-bottom: 12px;
  margin-top: 0;
}
#login-join-box .xman_box_inner .join_bar, #login-join-box .xman_box_inner .signin_bar {
  padding: 0;
}
#login-join-box .xman_box_inner .title_s {
  display: none;
}
#login-join-box .xman_box_inner .box {
  -webkit-box-shadow: none;
}
#login-join-box input {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 44px;
  line-height: normal;
  margin-bottom: 12px;
  padding-left: 8px;
  -webkit-appearance: none;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #ccc;
}
#login-join-box .tab-head li {
  font-size: 18px;
}
#login-join-box .xman_box_inner .btn_bar {
  margin-top: 0;
  padding: 0;
}
#login-join-box .xman_box_inner .btn_bar .ybtn {
  display: block;
  width: 100%;
  -webkit-box-shadow: none;
  background-color: #e62e04;
  background-image: none;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #ccc;
}
#login-join-box #xman_join_btn {
  display: none;
}
#login-join-box .xman_box_inner input[type=password] {
  font-size: 14px;
}
#login-join-box .form-group {
  margin-bottom: 12px;
  position: relative;
}
#login-join-box .form-group .ms-man-loading {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 3px;
  display: none;
}
#login-join-box .form-control {
  width: 100%;
  display: block;
}
#login-join-box .agreement-box {
  font-size: 12px;
  line-height: 12px;
  padding: 8px 0 16px 0;
}
#login-join-box .agreement-box a {
  color: #666;
}
#login-join-box .button {
  display: block;
  width: 100%;
  -webkit-box-shadow: none;
  background-color: #e62e04;
  background-image: none;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  -webkit-touch-callout: none;
}
#login-join-box .ms-msg-error {
  margin-top: 8px;
  color: #f60;
  font-size: 12px;
  display: none;
}
#login-join-box .verify-error input {
  border-color: #f60;
}
#login-join-box .verify-error .ms-msg-error {
  display: block;
}
#login-join-box img {
  vertical-align: middle;
}
#login-join-box #xman_loading_iframe {
  width: 100%!important;
  height: 100%!important;
  left: 0;
}
#login-join-box #xman_loading_div {
  position: absolute!important;
  left: 50%!important;
  top: 50%!important;
  min-width: 250px!important;
  height: auto!important;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  background: 0 0;
}
#login-join-box #xman_loading_div:before {
  content: '';
  background: url(https://login.alibaba.com/images/xman/loading.gif) no-repeat 0 0;
  width: 16px;
  height: 16px;
  display: inline-block;
}
#login-join-box #xman_loading_div>span {
  padding-left: 10px!important;
}
#login-join-box .check-code {
  width: 100px;
  margin-right: 10px;
}
.suggestionContainer {
  background-color: #fff;
  left: 0!important;
  border: 1px solid #ddd;
  border-bottom: none;
  width: 100%!important;
}
.suggestionContainer p {
  line-height: 36px;
  font-size: 12px;
  padding-left: 12px;
  border-bottom: 1px solid #ddd;
}
#login-join-box input[type=search]::-webkit-search-cancel-button {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  vertical-align: middle;
  background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAABcUlEQVR4AZ2VsUorQRSGT1hMLNeH8FGsEoP3NsltbnUfwiJqtrfQZFkRfQMJCPZWCab4QHtrcXdIYaFotBgXZOEwYwb37tf9nK85P3tG/I812hwxJee1JGfKMe0yFRc3iNmnwOJTcEAckvs8YgPk9L+XI9KgWJERuXLERVhSTIjQMmNsDVIt97A16VVyTF6FPLDDP5be8AsZ93r3xF/yUIV/EYTfLB11C2EDo7IhIjR1xCGidK0KDe7UpKEptLEaBlrXKmfOZEcYYQO6pypGwhS7Uv/lqZqZYLAB3VMVRnjTgWKXSs5WTCxFl+KV42zel01ADetGmOnAK2cQ0Gd+VU45AX0sdEOqo79jFdvCOgtdkadq/UplC5qCkKjokkbJOdZhD2GTJ5Uk1S9pVHjDNRafW571pomR6vDZmvzRZyitpZ64B3Dyfwew0rMfqadEq46+CYqGfvi5SVTvmgWJ/9z4tOgwZk7BR0nBnJQuLX/yEw4vHSynCAWIAAAAAElFTkSuQmCC');
  -webkit-background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
}
@-moz-keyframes circle {
  0% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes circle {
  0% {
    -o-transform: rotate(0);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes circle {
  0% {
    -ms-transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}
#login-join-box .ms-man-loading {
  text-align: center;
  padding: 8px;
}
#login-join-box .ms-man-loading:after {
  width: 20px;
  height: 20px;
  -moz-animation: circle 1s infinite linear;
  -o-animation: circle 1s infinite linear;
  -webkit-animation: circle 1s infinite linear;
  animation: circle 1s infinite linear;
  display: inline-block;
  content: '';
  background: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAZlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABwbJTWAAAAIXRSTlMA5RCM17iS8gmbq8rESXqK/QGfW6ZuG2dCgzazU9Mt3b836IuZAAABrklEQVQ4y7XS23KCMBSF4U0gEA5JDOF80PL+L9llkMZKpvbG/4oZPxNnIZ2TWSbpP2XbltEfMaWYe9iQexDDIAKQb1tlnqHpte4DcEP2GV41CsAGn0fCQ6HgbAB2FwDlodSIUaDxLroDslHrODyTiCCaYx6L80bxe5c5qztCdkPH4PcDJ/dxH7fCQXXBEQrPpsJC9AjbtAbXyDhNU7nD7QIaWeM3p7uQgsw0gh2Q8c3RL3b61W3qwtUus9xAsc0rlI6Nk/FfVRloEMZS/J47z3jg6rhn9LGGJHMlAwW66tylrwT3kCEItxe/gbGHx9Vr+Oq4dsVX+lhdeqvPg6u8ZS+v4BZFUfsKl6Jp6sW/QiNLsCAsQNPjT8GKyNWcrmZj4ajaD20dKxdDrO/ZD7KWkRlyRxe614MlLb5k6iTJD6g517hS2AZyh6y+pR0hmSRrSTTNxUQ0cz4Pbo92v9onvgBHkLIqiBTnvAYI1MKVOLosqwoHzZA2OPkK2NMByQIWXQBqOC48FA2kCsA1WVdJHtIAWARgnqy5eYYGC41nd6ztITa0gv7IzfO+x+CnvgGv8CGIVAWdtAAAAABJRU5ErkJggg==') no-repeat;
  background-size: 100% 100%
}
#login-join-box a {
  text-decoration: underline;
}
#joinSignBox:after {
  display: none!important;
}
.form {
  width: 100%
}
.form dd .form-error {
  display: block;
  float: left;
  margin-left: 4px;
  border: 1px solid #ffe1b9;
  padding: 0 10px;
  line-height: 32px;
  background-color: #fffaae
}
.form dd .form-info {
  margin-left: 0
}
.form dd .form-success {
  border: none!important;
  background: none!important
}
.fm-split {
  margin: 18px 0 0;
  color: #7c7c7c
}
.fm-field-wrap:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden
}
.fm-field-wrap {
  *zoom: 1
}
.fm-field-extra {
  margin-top: 6px
}
.fm-relative {
  position: relative
}
.fm-label {
  padding: 8px 0 2px
}
.fm-label .noempty {
  margin-right: 4px;
  color: red
}
.fm-label-extra {
  float: right
}
.fm-input-split {
  float: left;
  line-height: 31px;
  margin: 0 6px
}
.fm-text, .fm-textarea {
  float: left;
  padding: 4px 6px;
  border: 1px solid #ccc;
  line-height: 17px;
  font-size: 12px;
  color: #595959;
  background: #fff;
  vertical-align: middle;
  -webkit-box-shadow: 0 1px 0 #ececec inset;
  -moz-box-shadow: 0 1px 0 #ececec inset;
  -ms-box-shadow: 0 1px 0 #ececec inset;
  -o-box-shadow: 0 1px 0 #ececec inset;
  box-shadow: 0 1px 0 #ececec inset;
  _padding: 5px 6px
}
.fm-text:hover, .fm-textarea:hover {
  border: 1px solid #a6a6a6
}
.fm-text:focus, .fm-textarea:focus {
  border-color: #70a5e0;
  -webkit-box-shadow: 0 0 2px #a6cfff;
  -moz-box-shadow: 0 0 2px #a6cfff;
  -ms-box-shadow: 0 0 2px #a6cfff;
  -o-box-shadow: 0 0 2px #a6cfff;
  box-shadow: 0 0 2px #a6cfff
}
.fm-checkbox, .fm-radio {
  vertical-align: middle;
  margin-right: 8px
}
.fm-checkcode {
  float: left;
  width: 48px!important
}
.fm-checkcode-img {
  float: left;
  height: 30px;
  margin: 0 6px;
  cursor: pointer
}
.fm-checkcode-update {
  float: left;
  line-height: 27px;
  color: #666
}
.fm-haserror {
  border: 1px solid red!important;
  color: #FF5243
}
.fm-validator-result {
  display: none;
  clear: both;
  padding: 6px 0 0 20px;
  line-height: 17px
}
.fm-validator-result .icon-notice {
  margin-left: -20px
}
.fm-validator-success {
  display: block
}
.fm-validator-failure {
  display: block;
  color: #FF5243;
  background: #fff
}
.fm-button:hover {
  border: 1px solid #e87b0e;
  background-position: 0 -31px
}
.fm-button:active {
  border: 1px solid #e87b0e;
  background-position: 0 -61px
}
a.fm-button {
  display: inline-block!important;
  height: 28px;
  line-height: 28px;
  text-align: center;
  text-decoration: none!important;
  color: #fff!important
}
input.fm-button {
  _border: 1px solid #fff;
  _line-height: 28px;
  _overflow-y: hidden;
  _background-color: #e87b0e
}
input.fm-button:active, input.fm-button:hover {
  _background-color: #e87b0e
}
.fm-button-cancel {
  height: 30px;
  border: 1px solid #bcbcbc;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #333;
  cursor: pointer;
  //background: url(../images/login-btn.png) repeat-x 0 -91px;
  -webkit-box-shadow: 0 1px 1px #ebe7e6;
  -moz-box-shadow: 0 1px 1px #ebe7e6;
  -ms-box-shadow: 0 1px 1px #ebe7e6;
  -o-box-shadow: 0 1px 1px #ebe7e6;
  box-shadow: 0 1px 1px #ebe7e6;
  font-family: Microsoft YaHei, Hiragino Sans GB, \5b8b\4f53;
  zoom: 100%;
  _overflow: visible
}
.fm-button-cancel:hover {
  background-position: 0 -121px
}
.fm-button-cancel:active {
  background-position: 0 -151px
}
a.fm-button-cancel {
  display: inline-block!important;
  height: 28px;
  line-height: 28px;
  text-align: center;
  text-decoration: none!important;
  color: #333!important
}
input.fm-button-cancel {
  _border: 1px solid #fff;
  _line-height: 28px;
  _overflow-y: hidden;
  _background-color: #bcbcbc
}
.fm-button-disabled, .fm-button-disabled:hover {
  border: 1px solid #d4d4d4;
  color: #ccc!important;
  //background: url(../images/login-btn.png) repeat-x 0 -181px!important;
  -webkit-text-shadow: 0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
  -ms-text-shadow: 0 1px 0 #fff;
  -o-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff
}
input.fm-button-disabled {
  _background-color: #d4d4d4
}
#login-form {
  position: relative;
  font: 400 12px arial
}
#login-form .clearfix:after {
  content: "\0020";
  display: block;
  font-size: 0;
  line-height: 0;
  height: 0;
  clear: both;
  visibility: hidden
}
#login-form .clearfix {
  zoom: 1;
  _height: 1%;
  display: block
}
#login-form a, #login-form a:hover, #login-form a:visited {
  text-decoration: none
}
#login-form .notice-descript a, #login-form .notice-descript a:hover, #login-form .notice-descript a:visited {
  text-decoration: underline
}
.login #content {
  padding-top: 51px
}
#login-form #login-error {
  display: none
}
#login-form.is-error-show #login-error {
  display: block
}
#login-content label {
  font-weight: 700
}
#login-content .fm-text {
  width: 100%
}
#login-content .fm-text::selection {
  background: #1996e6;
  color: #fff
}
#login-content .fm-text::-webkit-selection {
  background: #1996e6;
  color: #fff
}
#login-content .fm-text::-moz-selection {
  background: #1996e6;
  color: #fff
}
#login-content .fm-text::-webkit-input-placeholder {
  color: #aaa
}
#login-content .fm-text:-moz-placeholder {
  color: #aaa
}
#login-content .fm-text:-ms-input-placeholder {
  color: #aaa
}
#login-content .fm-field-wrap {
  padding-right: 14px
}
#login-content #fm-login-checkcode-update {
  color: #666;
  white-space: nowrap;
  word-break: keep-all
}
#lbl-activex-login, #lbl-keep-login {
  font-weight: 400;
  vertical-align: middle
}
#fm-login-checkcode-title {
  display: none
}
#fm-login-submit-wrap {
  padding: 8px 0
}
#login-extra {
  margin-top: 10px
}
#login-extra .right-link {
  float: right
}
#login-form .loading-mask, #login-form .loading-mask .loading-icon, #login-form .loading-mask .loading-mask-body {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0
}
#login-form .loading-mask .loading-mask-body {
  background-color: #fff;
  z-index: 1;
  opacity: .8;
  filter: alpha(opacity=80)
}
#login-form #login-loading {
  display: none
}
#login-form.status-loading #login-loading {
  display: block
}
#login-form #account-check-loading {
  display: none
}
#login-form.status-account-check-loading #account-check-loading {
  display: block
}
#login-form.status-account-check-loading #fm-login-id-wrap .fm-field-wrap {
  position: relative
}
#login-content .fm-field-wrap {
  padding: 0
}
.fm-field .fm-text {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 44px;
  line-height: normal;
  padding-left: 8px;
  -webkit-appearance: none;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
.fm-label {
  padding: 0
}
.fm-field {
  padding: 0
}
.fm-label label {
  display: none
}
.fm-label-extra a#forgot-password-link {
  color: #999
}
.fm-label-extra {
  -webkit-transform: translateY(70px)
}
#login-submit .fm-button.fm-submit {
  display: block;
  width: 100%;
  -webkit-box-shadow: none;
  background-color: #e62e04;
  background-image: none;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  font-family: Helvetica;
  height: 44px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  -webkit-appearance: none
}
#login-error {
  margin-bottom: 12px
}
.style-type-auto #fm-login-submit {
  margin-top: 38px
}
.fm-checkcode-update {
  display: none
}
#login-content .fm-text.fm-checkcode {
  width: 100px!important
}
.fm-checkcode-img {
  margin-top: 10px;
  width: 80px;
  height: 24px
}
.about-checkcode.fm-field {
  margin-top: 12px
}
.notice-error {
  border: 0;
  background-color: transparent;
  color: #f60
}
.icon-notice {
  background-image: none
}
.form-error {
  padding-left: 0
}
.hide-iframe {
  visibility: hidden;
  position: absolute;
  left: -999em
}
.ms-autocomplete {
  font-size: 12px;
  color: #333;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efefef;
  z-index: 100;
  overflow-y: auto;
}
.ms-autocomplete hr {
  display: none;
}
.ms-autocomplete-main {
  display: -webkit-box;
  padding: 8px;
  -webkit-box-align: center;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 5px 5px #eee;
  border-bottom: solid 1px #ddd;
}
.ms-autocomplete-main input {
  display: block;
  box-sizing: border-box;
  height: 40px;
  border-radius: 0;
}
.ms-autocomplete-main .ms-input-search-wrapper {
  -webkit-box-flex: 1;
  position: relative;
}
.ms-autocomplete-main .ms-input-search-wrapper .clear-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  display: none;
  background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAABcUlEQVR4AZ2VsUorQRSGT1hMLNeH8FGsEoP3NsltbnUfwiJqtrfQZFkRfQMJCPZWCab4QHtrcXdIYaFotBgXZOEwYwb37tf9nK85P3tG/I812hwxJee1JGfKMe0yFRc3iNmnwOJTcEAckvs8YgPk9L+XI9KgWJERuXLERVhSTIjQMmNsDVIt97A16VVyTF6FPLDDP5be8AsZ93r3xF/yUIV/EYTfLB11C2EDo7IhIjR1xCGidK0KDe7UpKEptLEaBlrXKmfOZEcYYQO6pypGwhS7Uv/lqZqZYLAB3VMVRnjTgWKXSs5WTCxFl+KV42zel01ADetGmOnAK2cQ0Gd+VU45AX0sdEOqo79jFdvCOgtdkadq/UplC5qCkKjokkbJOdZhD2GTJ5Uk1S9pVHjDNRafW571pomR6vDZmvzRZyitpZ64B3Dyfwew0rMfqadEq46+CYqGfvi5SVTvmgWJ/9z4tOgwZk7BR0nBnJQuLX/yEw4vHSynCAWIAAAAAElFTkSuQmCC');
  background-position: center center;
  -webkit-background-size: 15px 15px;
  background-repeat: no-repeat;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.ms-autocomplete-main .ms-autocomplete-search {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  -webkit-box-align: center;
  background-color: #e62e04;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADySURBVHja1FVdC4QgEFwTCvr/4M8MLCp98W4PNsxzzxXt4ealQJ3ZD3cEYBAKWNc1gAAqRwwVOI4D5nlWos3OuSvC8zyDtTYrtizLV0ZV5Pu+i7IQlyzeyEXNIc6GPVsb+a8A2UWsOTSAy2KgH+99Cz/28PMdxzGvDI3AyLNcvQQ4rgEexv8IcFd8iAemRUBrnV/AEe/RaOIwxoS6SRQAhxSBfsbWj1BbKiIvBldtvwk5d+Zqsnpj27abYO5NwGzJ2qdputmEyDDjkS+Bah6XWOzKKJSWIEZ6W9J1ElE9pzbtA77Xqrc19DLOogg9YC8BBgBS2Q0eNKLTewAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
.ms-autocomplete-main input[type=search] {
  padding-right: 30px;
}
.ms-autocomplete-main input[type=search]::-webkit-search-cancel-button {
  display: none;
}
.ms-autocomplete-cannel {
  padding: 8px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-align: center;
  color: #e62e04;
  line-height: 1;
}
.ms-autocomplete .ms-autocomplete-list {
  position: absolute;
  z-index: 5;
  clear: both;
  display: none;
  width: 100%;
  overflow: hidden;
  text-align: left;
  background-color: #f4f4f4;
  padding-bottom: 10px;
  top: 55px;
}
.ms-autocomplete .ms-autocomplete-list ul {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
}
.ms-autocomplete .ms-autocomplete-list ul li {
  height: 44px;
  line-height: 44px;
  text-indent: 16px;
  border-bottom: solid 1px #DDD;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
.ms-autocomplete .ms-autocomplete-list ul li div.addition {
  position: absolute;
  right: 0;
  top: 7px;
  border-left: solid 1px #D7D7D7;
  width: 39px;
  height: 26px;
  background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAA9SURBVHjaYpw5cyYDDvAfic2ITQETAwVgJGpmAeLfUBof+D/4/MwKTQTo+CNaIsHAIzWecYE/UIwTAAQYAMUgB+SOBTVxAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: center center;
}
.ms-autocomplete .ms-autocomplete-list .ms-autocomplete-close {
  text-align: center;
  margin: 16px 12px;
  display: none;
  width: auto;
}
.ms-autocomplete .ms-autocomplete-list .ms-autocomplete-close.clear {
  display: block;
}
.ms-autocomplete.expand .ms-autocomplete-list {
  display: block;
}
.ms-autocomplete.collapse .ms-autocomplete-list {
  display: none;
}
.ms-autocomplete .history-del {
  position: absolute;
  right: 16px;
  top: 13px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAABcUlEQVR4AZ2VsUorQRSGT1hMLNeH8FGsEoP3NsltbnUfwiJqtrfQZFkRfQMJCPZWCab4QHtrcXdIYaFotBgXZOEwYwb37tf9nK85P3tG/I812hwxJee1JGfKMe0yFRc3iNmnwOJTcEAckvs8YgPk9L+XI9KgWJERuXLERVhSTIjQMmNsDVIt97A16VVyTF6FPLDDP5be8AsZ93r3xF/yUIV/EYTfLB11C2EDo7IhIjR1xCGidK0KDe7UpKEptLEaBlrXKmfOZEcYYQO6pypGwhS7Uv/lqZqZYLAB3VMVRnjTgWKXSs5WTCxFl+KV42zel01ADetGmOnAK2cQ0Gd+VU45AX0sdEOqo79jFdvCOgtdkadq/UplC5qCkKjokkbJOdZhD2GTJ5Uk1S9pVHjDNRafW571pomR6vDZmvzRZyitpZ64B3Dyfwew0rMfqadEq46+CYqGfvi5SVTvmgWJ/9z4tOgwZk7BR0nBnJQuLX/yEw4vHSynCAWIAAAAAElFTkSuQmCC');
  -webkit-background-size: 15px 15px;
}
.autocomplete-hot .hot-word-head, .autocomplete-list-title {
  color: #999;
  padding: 12px 0 12px 16px;
}
.autocomplete-list-title {
  font-weight: 400;
  font-size: 12px;
  border-bottom: solid 1px #ddd;
}
.autocomplete-hot .hot-word-list {
  padding: 0 0 12px 8px;
  overflow: hidden;
}
.autocomplete-hot .hot-word-list span {
  background-color: #fff;
  padding: 12px 8px;
  color: #333;
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 3px;
}
.ms-text-primary {
  color: #333;
  width: 100%;
  border: solid 1px #ccc;
  height: 41px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  padding-left: 8px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Arial;
}
.ms-text-primary:focus {
  outline: 0;
}
.ms-text-primary:disabled {
  background-color: #ddd;
  border-color: #ccc;
}
.ms-text-primary.ms-text-error {
  border-color: #e62e04;
}
.ms-text-primary::-webkit-input-placeholder {
  color: #ccc;
}
.ms-text-valid-error {
  color: #e62e04;
  font-size: 12px;
  line-height: 15px;
  padding-left: 8px;
  margin-top: 6px;
}
.ms-text-primary[type=search] {
  padding-left: 4px;
  border-radius: 3px;
}
.ms-text-primary[type=search]::-webkit-search-decoration {
  width: 25px;
  height: 25px;
  margin-right: 4px;
}
.ms-text-primary[type=search]::-webkit-search-decoration:before {
  vertical-align: middle;
  content: "\e625";
  font-family: iconfont;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: .2px;
  color: #e62e04;
  font-size: 25px;
}
.ms-text-primary[type=search]::-webkit-search-cancel-button {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  vertical-align: middle;
  background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAABcUlEQVR4AZ2VsUorQRSGT1hMLNeH8FGsEoP3NsltbnUfwiJqtrfQZFkRfQMJCPZWCab4QHtrcXdIYaFotBgXZOEwYwb37tf9nK85P3tG/I812hwxJee1JGfKMe0yFRc3iNmnwOJTcEAckvs8YgPk9L+XI9KgWJERuXLERVhSTIjQMmNsDVIt97A16VVyTF6FPLDDP5be8AsZ93r3xF/yUIV/EYTfLB11C2EDo7IhIjR1xCGidK0KDe7UpKEptLEaBlrXKmfOZEcYYQO6pypGwhS7Uv/lqZqZYLAB3VMVRnjTgWKXSs5WTCxFl+KV42zel01ADetGmOnAK2cQ0Gd+VU45AX0sdEOqo79jFdvCOgtdkadq/UplC5qCkKjokkbJOdZhD2GTJ5Uk1S9pVHjDNRafW571pomR6vDZmvzRZyitpZ64B3Dyfwew0rMfqadEq46+CYqGfvi5SVTvmgWJ/9z4tOgwZk7BR0nBnJQuLX/yEw4vHSynCAWIAAAAAElFTkSuQmCC');
  -webkit-background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
}
.ms-langcut .lang-list {
  color: #333;
  background-color: #fff;
  font-size: 15px;
}
.ms-langcut .lang-list li {
  position: relative;
  box-sizing: border-box;
  display: block;
  height: 45px;
  padding: 0 28px 0 12px;
  border-bottom: 1px solid #eee;
}
.ms-langcut .lang-list li>span {
  display: block;
  line-height: 44px;
}
.ms-langcut .lang-list li.active:after {
  position: absolute;
  top: 16px;
  right: 12px;
  display: inline-block;
  width: 16px;
  height: 11px;
  content: "";
  background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAMAAACWh252AAAAb1BMVEUAAADmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgTmLgR5b0B6AAAAJHRSTlMA/u8HAfrUfzwrHREN9b61qZ+RiHFfVufi4dnLxXlNRzQlGGoCYGfIAAAAsUlEQVQoz33S1w7CMAxAUUoX3Xvvcv //GwkCOkSTvDlHsWU7N+XJbCUbKdgqT4BB7noMWq7wSHghdz8Es5S71wkf5b5aEExyd1u4P+S+NMLnLbRT4+xOBZWzO8T60ec7NMse5xqE3h4/hLfu8UVhgrXdTAFY67nmGED9rVma0G359qy/rgoNev+/L6f+zPUpPPQvJ2OBlg9ApEtm3wO8O5ZuLwJIDMX+E0gN5Q/MsqvrF6S2DuZzvJPzAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-size: 16px 11px;
}
.ms-langcut-other {
  padding-left: 12px;
  padding-right: 12px;
}
.ms-langcut-other .title-row {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 18px;
  color: #999;
}
.ms-langcut-other .title-desc {
  font-size: 15px;
  line-height: 24px;
  color: #000;
}
.ms-langcut-other .btn-wrap {
  margin-top: 16px;
  margin-bottom: 16px;
}
