// -----------------------------------------------------------------------------
// This file contains styles that are specific to the checkout page.
// -----------------------------------------------------------------------------
$checkout-container-width: 940px;
.checkout-container-wrap {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.checkout-container {
  width: $checkout-container-width;
  display: inline-block;
  text-align: left;
  .form-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-label {
    text-align: right;
    font-size: 14px;
    width: 150px;
    display: inline-block;
    margin-right: 15px;
  }
  input[type="text"] {
    width: 300px;
    padding: 5px;
  }
  .save-button {
    @include button-default-styles();
    padding: 3px 15px;
    display: inline-block;
    font-size: 14px;
  }
  .cancel-button {
    margin-left: $margin-15;
    padding: 3px 15px;
    font-size: 14px;
  }
}
@mixin zindex-with-after($zindex) {
  z-index: $zindex;
  &:after {
    z-index: $zindex;
  }
}
$arrow-size: 10px;
$inactive-progress-color: #f2f2f2;
$active-progress-color: #f90;
.checkout-progress-arrow {
  @include body-and-arrow(($checkout-container-width - $arrow-size) / 3 - $arrow-size, $arrow-size, $inactive-progress-color);
  text-align: center;
  color: #666;
  font-weight: 400;
  vertical-align: top;
  cursor: pointer;
}
.checkout-progress-shadow {
  @include body-and-arrow($arrow-size, $arrow-size, #fff);
}
.progress-review {
  @include zindex-with-after(30);
}
.progress-payment {
  @include zindex-with-after(20);
}
.progress-done {
  @include zindex-with-after(10);
}
.progress-1-shadow {
  @include zindex-with-after(25);
}
.progress-2-shadow {
  @include zindex-with-after(15);
}
.checkout-progress-end {
  width: $arrow-size * 2;
  height: $arrow-size * 2;
  display: inline-block;
  background-color: $inactive-progress-color;
}

.progress-active {
  background-color: $active-progress-color;
  color: #fff;
  &:after {
    border-left-color: $active-progress-color;
  }
}

.checkout-section-title {
  color: rgb(51, 51, 51);
  font: normal normal bold normal 16px / 30px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
  padding: 20px 0;
  text-align: left;
}

.checkout-address-box {
  $padding-left: 20px;
  border: 2px solid #ddd;
  cursor: pointer;
  display: inline-block;
  height: 260px;
  overflow: hidden; // defensive
  padding: 25px 10px $padding-left $padding-left;
  position: relative;
  width: 300px; // TODO enhance width logic
  &.selected {
    border: 2px solid #e52e02;
    background-color: #fff4f2;
  }
  & + .checkout-address-box {
    margin-left: $margin-20;
  }
  .field-box {
    width: 100%;
  }
  .field-label {
    display: inline-block;
    width: 30px;
    text-align: right;
    margin-right: $margin-15;
  }
  .field-text {
    display: inline;
  }
  .field-username {
    display: inline;
    font-size: 14px;
    font-weight: 500;
  }
  .edit-box {
    position: absolute;
    display: inline;
    left: $padding-left;
    bottom: $padding-left;
    a {
      color: #06c;
      font-weight: 500;
    }
  }
}
.checkout-address-action-line {
  display: block;
  width: 100%;
}

.checkout-place-order {
  text-align: right;
  .all-total-label {
    font-size: 18px;
    color: #999;
  }
  .all-total-value {
    font-size: 18px;
    color: #f60;
  }
  .place-order-button {
    @include button-default-styles();
    font-size: 18px;
    padding: 8px 25px;
    margin: $margin-20 0;
  }
}
