// -----------------------------------------------------------------------------
// This file contains styles that are specific to the checkout page.
// -----------------------------------------------------------------------------
$checkout-container-width: 940px;
.checkout-container-wrap {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.checkout-container {
  width: $checkout-container-width;
  display: inline-block;
  text-align: left;
  .form-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-label {
    text-align: right;
    font-size: 14px;
    width: 150px;
    display: inline-block;
    margin-right: 15px;
  }
  input[type="text"] {
    width: 300px;
    padding: 5px;
  }
  .save-button {
    @include button-default-styles();
    padding: 3px 15px;
    display: inline-block;
    font-size: 14px;
  }
  .cancel-button {
    margin-left: $margin-15;
    padding: 3px 15px;
    font-size: 14px;
  }
}
@mixin zindex-with-after($zindex) {
  z-index: $zindex;
  &:after {
    z-index: $zindex;
  }
}
$arrow-size: 10px;
$inactive-progress-color: #f2f2f2;
$active-progress-color: #f90;
.checkout-progress-arrow {
  @include body-and-arrow(($checkout-container-width - $arrow-size) / 3 - $arrow-size, $arrow-size, $inactive-progress-color);
  text-align: center;
  color: #666;
  font-weight: 400;
  vertical-align: top;
  cursor: pointer;
}
.checkout-progress-shadow {
  @include body-and-arrow($arrow-size, $arrow-size, #fff);
}
.progress-review {
  @include zindex-with-after(30);
}
.progress-payment {
  @include zindex-with-after(20);
}
.progress-done {
  @include zindex-with-after(10);
}
.progress-1-shadow {
  @include zindex-with-after(25);
}
.progress-2-shadow {
  @include zindex-with-after(15);
}
.checkout-progress-end {
  width: $arrow-size * 2;
  height: $arrow-size * 2;
  display: inline-block;
  background-color: $inactive-progress-color;
}

.progress-active {
  background-color: $active-progress-color;
  color: #fff;
  &:after {
    border-left-color: $active-progress-color;
  }
}

.checkout-section-title {
  color: rgb(51, 51, 51);
  font: normal normal bold normal 16px / 30px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
  padding: 20px 0;
  text-align: left;
}

.checkout-address-box {
  $padding-left: 20px;
  border: 2px solid #ddd;
  cursor: pointer;
  display: inline-block;
  height: 260px;
  overflow: hidden; // defensive
  padding: 25px 10px $padding-left $padding-left;
  position: relative;
  width: 300px; // TODO enhance width logic
  &.selected {
    border: 2px solid #e52e02;
    background-color: #fff4f2;
  }
  & + .checkout-address-box {
    margin-left: $margin-20;
  }
  .field-box {
    width: 100%;
  }
  .field-label {
    display: inline-block;
    width: 30px;
    text-align: right;
    margin-right: $margin-15;
  }
  .field-text {
    display: inline;
  }
  .field-username {
    display: inline;
    font-size: 14px;
    font-weight: 500;
  }
  .edit-box {
    position: absolute;
    display: inline;
    left: $padding-left;
    bottom: $padding-left;
    a {
      color: #06c;
      font-weight: 500;
    }
  }
}
.checkout-address-action-line {
  display: block;
  width: 100%;
}

.checkout-place-order {
  text-align: right;
  .all-total-label {
    font-size: 18px;
    color: #999;
  }
  .all-total-value {
    font-size: 18px;
    color: #f60;
  }
  .place-order-button {
    @include button-default-styles();
    font-size: 18px;
    padding: 8px 25px;
    margin: $margin-20 0;
  }
}

// 2016. 04. 15. [heekyu] New UI
.checkout-left-container {
  display: inline-block;
  width: 800px;
  .title {
    color: #555;
    font-weight: 500;
    font-size: 20px;
  }
  .address-container {
    margin-bottom: $margin-15;
    overflow: hidden;
    width: 100%;
    .item {
      @include cart-info-snippet();
      display: inline-block;
      margin-top: $margin-15;
      padding-right: $margin-20;
      vertical-align: top;
      width: percentage(1 / 3);
      .row {
        background-color: #fff;
        padding: 3px 15px;
        & + .row {
          border-top: 1px solid #aaa;
        }
        .label {
          display: inline-block;
          font-size: 13px;
          font-weight: 500;
          vertical-align: top;
          width: 30%;
        }
        .control {
          display: inline-block;
          font-size: 13px;
          overflow: hidden;
          text-align: right;
          vertical-align: top;
          width: 70%;
          span {
            text-align: left;
          }
        }
      }
      &.active {
        .title {
          border-top-color: $default-active-text-color;
          border-left-color: $default-active-text-color;
          border-right-color: $default-active-text-color;
        }
        .add-address-box {
          border-color: $default-active-text-color;
        }
      }
      .title-address {
        font-size: 16px;
        padding: 0 15px;
        text-align: left;
        input[type="radio"] {
          cursor: pointer;
          margin-right: 10px;
        }
      }
    }
    .add-address-box {
      background-color: #fff;
      border: 1px solid #aaa;
      border-top: 0;
      height: 150px;
      position: relative;
      width: 100%;
    }
    .add-address-button {
      background-image: url($base-url + '/main/add-address-button.png');
      background-repeat: no-repeat;
      cursor: pointer;
      $width: 76px;
      height: $width;
      left: 50%;
      margin-left: - $width / 2;
      margin-top: - $width / 2;
      position: absolute;
      top: 50%;
      width: $width;
    }
  }
  .form-address-edit {
    background-color: #fff;
    border: 1px solid #999;
    display: block;
    margin-bottom: $margin-20;
    padding-top: $margin-15;
    width: 450px;
    .form-box {
      padding: 5px 15px;
      width: 100%;
    }
    .form-label {
      display: inline-block;
      font-size: 14px;
      text-align: left;
      width: 30%;
    }
    .form-control {
      display: inline-block;
      text-align: left;
      width: 70%;
      input[type="text"] {
        border: 1px solid #aaa;
        width: 100%;
        padding: 5px 10px;
      }
    }
    .save-button {
      @include button-default-styles();
      color: #fff;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      text-align: center;
      width: 100px;
    }
    .cancel-button {
      background-color: #aaa;
      border: 0;
      color: #fff;
      display: inline-block;
      margin-left: $margin-20;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      text-align: center;
      vertical-align: top;
      width: 100px;
    }
  }
}
.checkout-right-container {
  border-bottom: 1px solid #aaa;
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
  width: 210px;
  .payment-info-box {
    // margin-top: $margin-15;
    @include cart-info-snippet();
    .row {
      background-color: #fff;
      border-left: 1px solid #aaa;
      border-right: 1px solid #aaa;
      padding: 3px 15px;
      .label {
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        width: 30%;
      }
      .control {
        display: inline-block;
        font-size: 14px;
        text-align: right;
        width: 70%;
      }
    }
    .total-row {
      background-color: #fff;
      border: 1px solid #aaa;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      .label {
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        vertical-align: top;
        width: 30%;
      }
      .control {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color: $default-active-text-color;
        text-align: right;
        vertical-align: top;
        width: 70%;
      }
    }
  }
  .payment-method-box {
    margin-top: $margin-15;
    @include cart-info-snippet();
    .row {
      background-color: #fff;
      border-left: 1px solid #aaa;
      border-right: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      &:hover {
        background-color: #fdebe2;
      }
      &.active {
        background-color: #fdebe2;
        .payment-check {
          background-image: url($base-url + '/main/payment-check.png');
        }
      }
      .label {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
      }
      .control {
        display: inline-block;
        font-size: 15px;
        text-align: right;
        width: 70%;
      }
      .payment-check {
        display: inline-block;
        height: 13px;
        margin-left: 5px;
        vertical-align: middle;
        width: 17px;
      }
    }
  }
}
