// -----------------------------------------------------------------------------
// This file contains styles that are specific to the checkout page.
// -----------------------------------------------------------------------------
$checkout-container-width: 940px;
.checkout-container-wrap {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.checkout-container {
  width: $checkout-container-width;
  display: inline-block;
  text-align: left;
  .form-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-label {
    text-align: right;
    font-size: 14px;
    width: 150px;
    display: inline-block;
    margin-right: 15px;
  }
  input[type="text"] {
    width: 300px;
    padding: 5px;
  }
  .save-button {
    @include button-default-styles();
    padding: 3px 15px;
    display: inline-block;
    font-size: 14px;
  }
  .cancel-button {
    margin-left: $margin-15;
    padding: 3px 15px;
    font-size: 14px;
  }
}
@mixin zindex-with-after($zindex) {
  z-index: $zindex;
  &:after {
    z-index: $zindex;
  }
}
$arrow-size: 10px;
$inactive-progress-color: #f2f2f2;
$active-progress-color: #f90;
.checkout-progress-arrow {
  @include body-and-arrow(($checkout-container-width - $arrow-size) / 3 - $arrow-size, $arrow-size, $inactive-progress-color);
  text-align: center;
  color: #666;
  font-weight: 400;
  vertical-align: top;
  cursor: pointer;
}
.checkout-progress-shadow {
  @include body-and-arrow($arrow-size, $arrow-size, #fff);
}
.progress-review {
  @include zindex-with-after(30);
}
.progress-payment {
  @include zindex-with-after(20);
}
.progress-done {
  @include zindex-with-after(10);
}
.progress-1-shadow {
  @include zindex-with-after(25);
}
.progress-2-shadow {
  @include zindex-with-after(15);
}
.checkout-progress-end {
  width: $arrow-size * 2;
  height: $arrow-size * 2;
  display: inline-block;
  background-color: $inactive-progress-color;
}

.progress-active {
  background-color: $active-progress-color;
  color: #fff;
  &:after {
    border-left-color: $active-progress-color;
  }
}

.checkout-section-title {
  color: rgb(51, 51, 51);
  font: normal normal bold normal 16px / 30px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
  padding: 20px 0;
  text-align: left;
}

.checkout-place-order {
  text-align: right;
  .all-total-label {
    font-size: 18px;
    color: #999;
  }
  .all-total-value {
    font-size: 18px;
    color: #f60;
  }
  .place-order-button {
    @include button-default-styles();
    font-size: 18px;
    padding: 8px 25px;
    margin: $margin-20 0;
  }
}

// 2016. 04. 15. [heekyu] New UI
.checkout-left-container {
  display: inline-block;
  width: 800px;
  .title {
    color: #555;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .address-container {
    margin-bottom: $margin-15;
    overflow: hidden;
    width: 100%;
    .item {
      display: inline-block;
      margin-top: $margin-15;
      padding-right: $margin-20;
      vertical-align: top;
      width: percentage(1 / 3);
      .action-line {
        position: absolute;
        right: 5px;
        top: 10px;
        text-align: right;
      }
      .edit-box {
        background-color: #aaa;
        border-radius: 15px;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        height: 20px; // .title is 40px
        line-height: 20px;
        margin-right: 10px;
        padding: 0 10px;
        text-align: center;
        vertical-align: top;
        &:hover {
          background-color: #333;
        }
      }
      .row {
        background-color: #fff;
        padding: 3px 15px;
        & + .row {
          border-top: 1px solid #aaa;
        }
        .label {
          display: inline-block;
          font-size: 13px;
          font-weight: 500;
          vertical-align: top;
          width: 30%;
          white-space: nowrap;
        }
        .control {
          display: inline-block;
          font-size: 13px;
          overflow: hidden;
          text-align: right;
          vertical-align: top;
          width: 70%;
          span {
            text-align: left;
          }
        }
      }
      &.active {
        .title-address {
          border-top-color: $default-active-text-color;
          border-left-color: $default-active-text-color;
          border-right-color: $default-active-text-color;
        }
        .add-address-box {
          border-color: $default-active-text-color;
        }
      }
      .title-address {
        @include cart-info-title-snippet();
        color: #555;
        font-size: 16px;
        font-weight: 500;
        padding: 0 15px;
        text-align: left;
        input[type="radio"] {
          cursor: pointer;
          margin-right: 10px;
        }
      }
    }
    .add-address-box {
      background-color: #fff;
      border: 1px solid #aaa;
      border-top: 0;
      height: 150px;
      position: relative;
      width: 100%;
    }
    .add-address-button {
      background-image: url($base-url + '/main/add-address-button.png');
      background-repeat: no-repeat;
      cursor: pointer;
      $width: 76px;
      height: $width;
      left: 50%;
      margin-left: - $width / 2;
      margin-top: - $width / 2;
      position: absolute;
      top: 50%;
      width: $width;
    }
  }
  .form-address-edit {
    $border-color: #999;
    background-color: #fff;
    border: 1px solid $border-color;
    display: block;
    margin-bottom: $margin-20;
    padding: 0 0 $margin-15;
    width: 520px;
    .tab-line {
      $height: 35px;
      display: block;
      height: $height;
      line-height: $height;
      margin-bottom: 15px;
      width: 100%;
      .item {
        background-color: #f2f2f2;
        border-bottom: 1px solid $border-color;
        color: #777;
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        height: 100%;
        text-align: center;
        vertical-align: top;
        width: 50%;
        &.active {
          background-color: #fff;
          border-color: #fff;
          color: #000;
          font-size: 14px;
        }
        + .item {
          border-left: 1px solid $border-color;
        }
      }
    }
    .form-box {
      padding: 5px 15px;
      width: 100%;
    }
    .form-label {
      display: inline-block;
      font-size: 14px;
      text-align: left;
      width: 20%;
    }
    .form-control {
      display: inline-block;
      position: relative;
      text-align: left;
      width: 80%;
      input[type="text"] {
        border: 1px solid #aaa;
        width: 100%;
        padding: 5px 10px;
        &.input-postal-code {
          display: inline-block;
          width: 220px;
        }
      }
      .btn-postal-code {
        @include button-default-styles();
        border: 1px solid $default-active-text-color;
        display: inline-block;
        min-width: 120px;
        max-width: 150px;
        padding: 5px $margin-15;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .save-button {
      @include button-default-styles();
      color: #fff;
      display: inline-block;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      text-align: center;
      width: 100px;
    }
    .cancel-button {
      background-color: #aaa;
      border: 0;
      color: #fff;
      display: inline-block;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      margin-left: $margin-20;
      padding: 0;
      text-align: center;
      vertical-align: top;
      width: 100px;
    }
  }
}
.checkout-right-container {
  border-bottom: 1px solid #aaa;
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
  width: 210px;
  .payment-info-box {
    // margin-top: $margin-15;
    .title {
      @include cart-info-title-snippet();
    }
    .row {
      background-color: #fff;
      border-left: 1px solid #aaa;
      border-right: 1px solid #aaa;
      padding: 3px 15px;
      .label {
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        width: 40%;
        white-space: nowrap;
      }
      .control {
        display: inline-block;
        font-size: 14px;
        text-align: right;
        width: 60%;
      }
    }
    .total-row {
      background-color: #fff;
      border: 1px solid #aaa;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      .label {
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        vertical-align: top;
        width: 30%;
      }
      .control {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color: $default-active-text-color;
        text-align: right;
        vertical-align: top;
        width: 70%;
      }
    }
  }
  .payment-policy-box {
    background-color: #fff;
    border: 1px solid #aaa;
    margin-top: $margin-15;
    padding: 10px 15px;
    position: relative;
    .policy-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    #refund_policy + label {
      position: absolute;
      right: 15px;
      top: 10px;
    }
    .policy-content {
      color: #a8a8a8;
      font-size: 11px;
    }
    .more-button {
      background-color: #aaa;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 11px;
      margin: 10px auto;
      padding: 5px 0;
      position: relative;
      text-align: center;
      width: 50%;
      $arrow-size: 5px;
      .arrow-up {
        @include simple-arrow-up($arrow-size, #fff);
        position: absolute;
        top: 50%;
        margin-top: -$arrow-size / 2;
        right: 10px;
      }
      .arrow-down {
        @include simple-arrow-down(5px, #fff);
        position: absolute;
        top: 50%;
        margin-top: -$arrow-size / 2;
        right: 10px;
      }
    }
    .policy-detail-box {
      background: url($base-url + "/main/dotline3.gif") repeat-x 100% 0;
      font-size: 11px;
      padding-top: 10px;
      p {
        margin: 8px 0;
      }
    }
  }
  .payment-method-box {
    margin-top: $margin-15;
    .title {
      @include cart-info-title-snippet();
    }
    .row {
      background-color: #fff;
      border-left: 1px solid #aaa;
      border-right: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      &:hover {
        background-color: #fdebe2;
      }
      &.active {
        background-color: #fdebe2;
        .payment-check {
          background-image: url($base-url + '/main/payment-check.png');
        }
      }
      .label {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
      }
      .control {
        display: inline-block;
        font-size: 15px;
        text-align: right;
        width: 70%;
      }
      .payment-check {
        display: inline-block;
        height: 13px;
        margin-left: 5px;
        vertical-align: middle;
        width: 17px;
      }
    }
  }
}

.order-done-container {
  margin: 30px auto;
  width: 800px;
  .title-box {
    color: #222;
    display: block;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0 0 0;
    text-align: left;
    width: 100%;
    span {
      vertical-align: top;
    }
  }
  .message {
    font-size: 30px;
    font-weight: 400;
    margin: $margin-20 0;
    text-align: center;
    width: 100%;
  }
  .title {
    color: #555;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .simple-key-value-container {
    border: 1px solid #aaa;
    letter-spacing: -1px;
    margin-bottom: 30px;
    width: 100%;
    .row {
      height: 30px;
      line-height: 30px;
    }
    .label {
      background-color: #eee;
      border-bottom: 1px solid #aaa;
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      padding: 0 $margin-15;
      vertical-align: top;
      width: 150px;
    }
    .control {
      background-color: #fff;
      border-left: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      color: #777;
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      padding: 0 $margin-15;
      vertical-align: top;
      width: 648px;
    }
  }
  .price {
    color: $default-active-text-color !important;
  }
  .go-order-list-button {
    @include button-default-styles();
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 400;
    margin: 20px auto;
    text-align: center;
    width: 200px;
  }

  .payment-info-container {
    border: 1px solid #aaa;
    margin-bottom: 30px;
    width: 100%;
    .row {
      display: table;
      width: 100%;
    }
    .cell {
      border-top: 1px solid #aaa;
      display: table-cell;
      position: relative;
      vertical-align: top;
      width: 25%;
      & + .cell {
        border-left: 1px solid #aaa;
      }
    }
    .title-cell {
      background-color: #eee;
      height: 45px;
      line-height: 45px;
      padding: 0 $margin-15;
      .title {
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
        text-align: left;
        vertical-align: top;
        white-space: nowrap;
        width: 30%;
      }
      .price {
        color: $default-active-text-color;
        display: inline-block;
        font-size: 20px;
        text-align: right;
        width: 70%;
      }
    }
    @mixin cell-left-right() {
      .left {
        display: inline-block;
        text-align: left;
        vertical-align: top;
        width: 15%;
        white-space: nowrap;
      }
      .right {
        display: inline-block;
        text-align: right;
        vertical-align: top;
        width: 85%;
        white-space: nowrap;
      }
    }
    .content-cell {
      background-color: #fff;
      font-size: 12px;
      padding: 10px $margin-15;
      @include cell-left-right();
    }
    .sub-title-line {
      background-color: #f2f2f2;
      font-weight: bold;
      padding: 5px $margin-15;
      width: 100%;
      @include cell-left-right();
    }
    .content-refund-cell {
      background-color: #fff;
      font-size: 12px;
      padding: 10px $margin-15;
      @include cell-left-right();
      .right {
        color: #aaa;
      }
    }
    .final-price-line {
      background-color: #e4e4e4;
      bottom: 0;
      height: 40px;
      line-height: 40px;
      left: 0;
      padding: 0 $margin-15;
      position: absolute;
      width: 100%;
      .left {
        display: inline-block;
        font-size: 14px;
        letter-spacing: -1px;
        text-align: left;
        vertical-align: top;
        width: 30%;
        white-space: nowrap;
      }
      .right {
        color: #cc2b19;
        display: inline-block;
        font-size: 20px;
        text-align: right;
        vertical-align: top;
        width: 70%;
        white-space: nowrap;
      }
    }
  }
}
