// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.main-wide-container {
  background-color: #eee;
  min-width: 1200px;
  width: 100%;
}
@mixin main-category-padding() {
  padding: 5px 10px;
}
$main-category-item-height: 30px;
.main-menu-bar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  .category-title {
    @include main-category-padding();
    display: inline-block;
    width: 220px;
    height: $main-category-item-height;
    line-height: $main-category-item-height;
    box-sizing: content-box;
    font-size: 14px;
    font-weight: 400;
    background-color: #f2f2f2;
    a {
      margin-left: $margin-15;
      color: #666;
      font-size: 12px;
      &:hover {
        color: #666;
      }
    }
  }
  .menu-box {
    display: inline-block;
    vertical-align: top;
    margin-left: $margin-20;
    height: $main-category-item-height + 10px;
    line-height: $main-category-item-height + 10px;
  }
  .menu-item {
    display: inline-block;
    margin-right: $margin-20;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      color: $default-active-text-color;
    }
  }
}
$main-banner-height: 400px;
.main-banner-wrap {
  display: block;
  height: 400px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  .main-banner {
    // cursor: pointer;
    display: inline-block !important;
    height: $main-banner-height;
    vertical-align: top;
    width: 720px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .right-banner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 260px;
    height: $main-banner-height;
    img {
      width: 100%;
      height: 100%;
    }
  }
  a {
    text-decoration: none;
  }
}

.category-frame {
  background-color: #eee;
  border: 3px solid #269dd9;
  box-sizing: content-box;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
  height: 317px;
  margin-right: 20px;
  position: relative;
  vertical-align: top;
  width: 194px;
  .category-bar {
    background: #269dd9 url($base-url + '/main/ico_menu2.png') no-repeat 10px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -1px;
    padding: 5px 5px 9px 35px;
  }
  .category-all {
    background-color: #fff;
    border-radius: 3px;
    color: #269dd9;
    float: right;
    font-weight: bold;
    font-size: 11px;
    line-height: 17px;
    margin-top: 1px;
    padding: 1px 6px;
    &:hover {
      background-color: #333;
      color: #fff;
      cursor: pointer;
    }
  }
  .category-main {
    background-color: #fff;
    .item {
      $height: 28px;
      cursor: pointer;
      display: block;
      font-size: 13px;
      font-weight: bold;
      height: $height;
      letter-spacing: -1px;
      line-height: $height;
      padding-left: 20px;
      &.edge {
        border-bottom: 1px solid #ccc;
      }
      &:hover, &.active {
        background: url($base-url + '/main/ico_right3.gif') no-repeat 185px 11px;
        color: $default-active-text-color;
      }
    }
  }
  .category-hover-box {
    background: #f8f8f8 url($base-url + '/main/dotline4.gif') repeat-y;
    border: 3px solid #269dd9;
    border-left: none;
    display: none;
    height: 262px;
    left: 100%;
    padding: 10px 20px;
    position: absolute;
    top: 32px;
    width: 110px;
    z-index: $dropdown-z-index;
    @mixin category-hover-item() {
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
    }
    .title-item {
      @include category-hover-item();
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      font-weight: 900;
      margin-bottom: 5px;
      padding:5px 10px 5px 10px;
    }
    .sub-item {
      @include category-hover-item();
      font-size: 12px;
      height: 24px;
      letter-spacing: -1px;
      line-height: 24px;
      padding: 0 10px;
    }
  }
  &:hover {
    .category-hover-box {
      display: block;
    }
  }
}

.home-stylepick-banner {
  background: url($base-url + '/banner/banner_stylepick_20160419.jpg') no-repeat;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  bottom: 0;
  box-sizing: content-box;
  display: block;
  height: 60px;
  left: 0;
  padding: 7px 0 0 0;
  position: absolute;
  text-align: right;
  width: 200px;
  strong {
    background: url($base-url + '/main/ico_right2.gif') no-repeat 190px 7px;
    color: $default-active-text-color;
    display: block;
    font-size: 16px;
    letter-spacing: -1px;
    padding-right: 17px;
  }
  span {
    color: #777;
    display: block;
    font-size: 11px;
    line-height: 13px;
    padding-right: 17px;
  }
}

.home-center-wrap {
  background-color: #f8f8f8;
  margin: auto;
  padding-top: 30px;
}
.home-building-title {
  color: #555;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: -3px;
  margin-bottom: 10px;
  strong {
    color: $default-active-text-color;
  }
}
.home-building-container {
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto 50px;
  width: 100%;
  .item {
    background: url($base-url + '/main/dotline4.gif') repeat-y 100% 0;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    width: 200px;
    @mixin building-image($name) {
      background-image: url($base-url + "/banner/buildings/" + $name + ".jpg");
      background-size: 100%;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: block;
      height: 70px;
      width: 100%;
      text-indent: -9999px;
      &:hover {
        background-image: url($base-url + "/banner/buildings/" + $name + "_r.jpg");
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        line-height: 65px;
        letter-spacing: -1px;
        text-indent: 0;
      }
    }
    .build_apm {
      @include building-image('build_apm');
    }
    .build_apmluxe {
      @include building-image('build_apmluxe');
    }
    .build_belpost {
      @include building-image('build_belpost');
    }
    .build_designerclub {
      @include building-image('build_designerclub');
    }
    .build_theot {
      @include building-image('build_theot');
    }
    .build_nuzzon {
      @include building-image('build_nuzzon');
    }
    .build_techno {
      @include building-image('build_techno');
    }
    .build_cph {
      @include building-image('build_cph');
    }
    .build_uus {
      @include building-image('build_uus');
    }
    .build_queens {
      @include building-image('build_queens');
    }
    .build_shose {
      @include building-image('build_shose');
    }
  }
  .item-top {
    background: url($base-url + '/main/dotline4.gif') repeat-y 100% 0, url($base-url + '/main/dotline3.gif') repeat-x 0 100%;
  }
  .item-top-right {
    background: url($base-url + '/main/dotline3.gif') repeat-x 0 100%;
  }
  .item-right {
    background: none;
  }
  .more-shops {
    background-color: #ccc;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    height: 70px; // TODO remove magic number
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    .content {
      display: inline-block;
      color: #fff;
      font-size: 14px;
      letter-spacing: -1px;
      line-height: 20px;
      padding-left: 25px;
      padding-top: 16px;
      text-align: right;
      width: 80px + 30px;
      strong {
        font-size: 18px;
        white-space: nowrap;
      }
    }
    img {
      margin-left: $margin-20;
    }
    &:hover {
      background-color: $default-active-text-color;
    }
  }
}

.home-trend-container {
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  display: block;
  height: 481px;
  margin-bottom: 50px;
  width: 100%;
  .left-big {
    display: inline-block;
    height: 100%;
    padding: 10px;
    position: relative;
    /*
    &:hover {
      box-shadow: 0 3px 6px 3px rgba(51, 51, 51, 0.3);
      cursor: pointer;
      z-index: 100;
    }
    */
    .text-bar {
      background-color: rgba(255, 130, 0, 0.8);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      box-sizing: content-box;
      left: 20px;
      padding: 10px 20px;
      position: absolute;
      top: 420px;
      width: 240px;
      strong {
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        color: #fff;
        display: block;
        font-size: 23px;
        letter-spacing: -2px;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        padding: 0 10px 3px 10px;
      }
      span {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        color: rgba(0, 0, 0, 0.6);
        font-weight: bold;
        font-size: 12px;
        letter-spacing: -1px;
        padding: 1px 10px 0 10px;
      }
    }
  }
  .trend-right {
    display: inline-block;
    vertical-align: top;
    width: 880px;
    @mixin trend-item() {
      box-sizing: content-box;
      cursor: pointer;
      display: inline-block;
      height: 210px;
      padding: 15px 10px;
      vertical-align: top;
      width: 199px;
      &:hover {
        box-shadow: 0 3px 6px 3px rgba(51, 51, 51, 0.3);
        z-index: 100;
      }
      .product-name {
        color: #333;
        font-size: 11px;
        text-align: center;
      }
      .price {
        font: 500 12px /14px 'Roboto';
        color: #333;
        text-align: center;
      }
    }
    .trend-top {
      @include trend-item();
      border-left: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
    }
    .trend-bottom {
      @include trend-item();
      border-left: 1px solid #f0f0f0;
    }
  }
}

.curation-topic-box {
  $height: 550px;
  border-top: 2px solid #f31349;
  background-color: #fff;
  height: $height;
  margin-bottom: $margin-20;
  .left-category {
    width: 200px;
    display: inline-block;
    vertical-align: top;
  }
  .left-category-title {
    width: 100%;
    height: 100px;
    padding-top: 22px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
    color: #f31349;
    margin: 0 auto;
  }
  .left-category-item {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin-top: $margin-15;
    &:hover {
      color: $default-active-text-color;
      text-decoration: none;
    }
  }
  .item-color-0 {
    color: #4e4e4e;
  }
  .item-color-1 {
    color: #f31349;
  }
  .center-slide {
    width: 400px;
    height: 100%;
    overflow: hidden;
    display: inline-block !important;
    .img-wrap {
      position: relative;
      right: 50%;
      text-align: center;
      height: 100%;
    }
    img {
      display: inline-block;
      width: auto;
      height: 100%;
      margin-right: -100%;
    }
  }
  .right-banner {
    $banner-height: 275px;
    display: inline-block;
    vertical-align: top;
    width: 600px;
    height: 100%;
    .large-banner {
      position: relative;
      width: 400px;
      display: inline-block;
      vertical-align: top;
      height: $banner-height;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      img {
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
    .small-banner {
      width: 200px;
      display: inline-block;
      vertical-align: top;
      height: $banner-height;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      .title {
        padding: 15px 5px 2px 5px;
        font-weight: 700;
        color: #333;
        text-align: center;
      }
      .sub-title {
        text-align: center;
        width: 100%;
        color: #aaa;
      }
      .img-wrap {
        text-align: center;
        padding: 15px 0 10px;
        height: 219px;
      }
      img {
        width: 180px;
        height: 195px;
      }
    }
  }
  .hover-highlight {
    &:hover {
      box-shadow: 0 3px 6px 0 rgba(51,51,51,.3);
      text-decoration: none;
      z-index: 100;
    }
  }
}

.main-slogan {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  .slogan-item {
    border-right: 1px solid #eee;
    display: inline-block;
    width: percentage(1/6);
    min-height: 228px;
    text-align: center;
    padding: 40px 0 10px;
    &:first-child { // does not IE support... FIXME if needed
      border-left: 1px solid #eee;
    }
    .icon {
      display: block;
      margin: 0 auto 15px;
      width: 52px;
      height: 53px;
      background: url('//i.alicdn.com/ae-wholesale-ui/common/img/home-sprite.c17e1a34.png') no-repeat;
    }
    .i-great{
      background-position:-400px -350px;
      width:60px
    }
    .i-delivery{
      background-position:-500px -350px;
      width:60px
    }
    .i-payment{
      background-position:-100px -350px;
      width:54px
    }
    .i-confidence{
      background-position:-200px -350px;
      width:50px
    }
    .i-help{
      background-position:0 -350px;
      width:68px
    }
    .i-shop{
      background-position:-250px -350px;
      width:106px
    }
    h3 {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 5px;
      font-weight: 400;
      color: #333;
    }
    p {
      margin-bottom: 0;
      line-height: 22px;
      color: #999;
      padding: 0 15px;
    }
  }
}

.service-stopped-container {
  background-color: #fff;
  width: 100%;
  img {
    display: block;
    margin: 0 auto;
    padding: 100px 0 200px 0;
  }
}

.owl-item {
  // 2016. 02. 23. [heekyu] for sibling image overflow parent width
  overflow: hidden;
}
