// -----------------------------------------------------------------------------
// This file contains styles that are specific to 'xxx' page.
// -----------------------------------------------------------------------------

.user-info-container {
  background-color: #fff;
  margin: 0 auto 30px auto;
  padding: 10px 50px 20px 50px;
  width: 550px;
  /*
  .title {
    border-bottom: 1px solid #aaa;
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
    margin-bottom: $margin-15;
  }
  */
  .row {
    margin: 5px 0;
    width: 100%;
    @mixin cell-common() {
      display: inline-block;
      height: 35px;
      line-height: 35px;
      vertical-align: top;
    }
    .label {
      @include cell-common();
      font-size: 13px;
      width: 100px;
    }
    .control {
      @include cell-common();
      width: 350px;
      input {
        border: 0;
        font-size: 14px;
        height: 100%;
        padding: 0 $margin-15;
        width: 100%;
      }
    }
  }

  .button-line {
    $height: 48px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
    @mixin button() {
      border: 0;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      font-size: 16px;
      height: $height;
      line-height: $height;
      margin: 0 $margin-15;
      width: 96px;
    }
    .button-modify {
      @include button();
      @include button-default-styles();
    }
    .button-cancel {
      @include button();
      background-color: #aaa;
    }
  }
}