// -----------------------------------------------------------------------------
// This file contains styles that are specific to 'xxx' page.
// -----------------------------------------------------------------------------

.user-info-container {
  background-color: #fff;
  margin: 20px auto 30px auto;
  text-align: left;
  width: 860px;
  .title-line {
    margin: 10px 0;
    width: 100%;
    .title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: $margin-15;
    }
    .warning {
      color: #999;
      font-size: 11px;
      float: right;
    }
  }
  table {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 100%;
    td {
      height: 50px;
      padding: 0 20px;
      vertical-align: center;
    }
    input {
      border: 1px solid #f2f2f2;
      border-radius: 3px;
      font-size: 14px;
      padding: 10px 15px;
      width: 280px;
    }
    .form-tel {
      position: relative;
      border: 1px solid #f2f2f2;
      width: 400px;
    }
    #lastName {
      width: 125px;
    }
    #firstName {
      margin-left: 20px;
      width: 255px;
    }
    #tel {
      margin-left: 15px;
      border: 0;
      width: 200px;
    }
    .label {
      background-color: #f2f2f2;
      width: 220px;
    }
    .area-code {
      img {
        vertical-align: middle;
      }
      span {
        margin-left: 7px;
        vertical-align: middle;
      }
      border-right: 1px solid #ddd;
      cursor: pointer;
      display: inline-block;
      padding: 0 15px;
      position: relative;
      width: 120px;
      .arrow-down {
        @include simple-arrow-down(5px, #444);
        position: absolute;
        top: 50%;
        right: 10px;
      }
    }
    .dropdown-box {
      background-color: #fff;
      border: 1px solid #ddd;
      cursor: pointer;
      display: none;
      left: -1px;
      padding: 7px 15px;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 150;
      .dropdown-item {
        &:hover {
          color: $default-active-text-color;
        }
      }
      img {
        vertical-align: middle;
      }
      span {
        margin-left: 7px;
        vertical-align: middle;
      }
      .number {
        color: #aaa;
        opacity: 0.9;
      }
    }
  }
  .row {
    margin: 5px 0;
    width: 100%;
    @mixin cell-common() {
      display: inline-block;
      height: 35px;
      line-height: 35px;
      vertical-align: top;
    }
    .label {
      @include cell-common();
      font-size: 13px;
      width: 100px;
    }
    .control {
      @include cell-common();
      width: 350px;
      input {
        border: 0;
        font-size: 14px;
        height: 100%;
        padding: 0 $margin-15;
        width: 100%;
      }
    }
  }

  .button-line {
    $height: 48px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
    @mixin button() {
      border: 0;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      font-size: 16px;
      height: $height;
      line-height: $height;
      margin: 0 $margin-15;
      padding: 0;
      width: 96px;
    }
    .button-modify {
      @include button();
      @include button-default-styles();
    }
    .button-cancel {
      @include button();
      background-color: #aaa;
    }
  }
}
