// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product detail page.
// -----------------------------------------------------------------------------
$product-detail-thumbnail-width: 60px;
$product-detail-thumbnail-margin: 15px;
.product-detail-left {
  display: inline-block;
  margin-right: $margin-15;
  position: relative;
  vertical-align: top;
  width: 600px;
  .left-thumbnail-container {
    display: inline-block;
    width: $product-detail-thumbnail-width + 2px;
    margin-right: $product-detail-thumbnail-margin;
    vertical-align: top;
    .thumbnail-container {
      height: 560px;
      overflow-y: hidden;
      width: 100%;
    }
    span {
      @include default-responsive-img-wrap();
      .inner-wrap img {
        border-radius: 1px;
      }
      border: 2px solid #ccc;
      // 2016. 04. 20. [heekyu] copy amazon's color
      border-color: #a2a6ac #979aa1 #82858a;
      border-radius: 3px;
      cursor: pointer;
      display: block;
      margin-bottom: 10px;
      position: relative;
      width: $product-detail-thumbnail-width + 2px;
      &:after {
        background-image: url($base-url + '/main/ico_right4_o.gif');
        height: 13px;
        left: 100%;
        margin-top: -6.5px;
        position: absolute;
        top: 50%;
        width: 7px;
      }
    }
    .image-active {
      border: 2px solid $default-active-text-color;
      border-radius: 3px;
    }
    @mixin arrow-box() {
      border: none;
      cursor: pointer;
      display: block;
      height: 15px;
      margin: 10px 0;
      padding: 0;
      width: 100%;
    }
    $arrow-background-position: center 0;
    .arrow-up {
      @include arrow-box();
      background: url($base-url + '/main/ico_prev1.gif') no-repeat $arrow-background-position;
      &:hover {
        background: url($base-url + '/main/ico_prev1_over.gif') no-repeat $arrow-background-position;
      }
    }
    .arrow-down {
      @include arrow-box();
      background: url($base-url + '/main/ico_next1.gif') no-repeat $arrow-background-position;
      &:hover {
        background: url($base-url + '/main/ico_next1_over.gif') no-repeat $arrow-background-position;
      }
    }
  }
  .main-image-box {
    display: inline-block;
    position: relative;
    width: 500px;
    height: 650px;
    overflow: hidden;
    border: 1px solid #dedede;
    img {
      display: block;
      height: 100%;
      margin: auto;
      width: auto;
    }
  }
  .enlarge-image-box {
    display: none;
    background-color: #fff;
    height: 650px;
    left: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 500px;
    z-index: 100;
    img {
      display: block;
      height: 200%;
      margin: auto;
      width: auto;
    }
  }
}
.product-detail-right {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  .product-title {
    border-bottom: 2px solid #555;
    display: block;
    height: 60px;
    font-size: 26px;
    letter-spacing: -2px;
    line-height: 46px;
    padding-left: 10px;
    position: relative;
    .wish-button {
      background: url($base-url + '/main/heart1.png') no-repeat;
      cursor: pointer;
      height: 38px;
      position: absolute;
      right: 5px;
      top: 7px;
      width: 41px;
      &.active {
        background: url($base-url + '/main/heart1_o.png') no-repeat;
      }
    }
  }
  .divider {
    @include horizontal-divider(20px);
  }
  .price-info-box {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .normal-field-box {
    $height: 20px;
    height: $height;
    line-height: $height;
    margin-bottom: $margin-15;
    width: 100%;
    input[type="number"] {
      padding: 5px;
      width: 70px;
    }
  }
  .color-line {
    margin-bottom: $margin-15;
    width: 100%;
    .field-label {
      height: 90px;
      line-height: 90px;
    }
  }
  .size-line {
    height: 30px;
    line-height: 30px;
    margin-bottom: $margin-15;
    width: 100%;
  }
  .quantity-line {
    $height: 27px;
    height: $height;
    line-height: $height;
    margin-bottom: $margin-20;
    width: 100%;
    .count-box {
      border: 1px solid #aaa;
      display: inline-block;
      font-size: 15px;
      height: $height;
      @include input-number-contents(42px, 20px, $height);
    }
  }
  .field-label {
    color: #888;
    display: inline-block;
    font-size: 13px;
    letter-spacing: -1px;
    min-width: 30px;
    padding-right: 20px;
    text-align: right;
    vertical-align: top;
    width: 100px;
  }
  .field-content {
    display: inline-block;
    font-size: 14px;
    width: 80%;
    b {
      font-size: 16px;
      font-weight: 500;
    }
    .attribute-item-text {
      $padding: 5px;
      border: 1px solid #000;
      cursor: pointer;
      display: inline-block;
      margin-right: 10px;
      min-width: 30px;
      padding: 1px $padding;
      text-align: center;
      &.active {
        border: 2px solid $default-active-text-color;
        padding: 0 $padding - 1px;
      }
    }
    .img-variant-color {
      border: 1px solid #000;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      height: 91px;
      margin-right: 10px;
      padding: 1px;
      width: 70px;
      &.active {
        border: 2px solid $default-active-text-color;
        padding: 0;
      }
    }
    .img-brand-logo {
      border: 1px solid #f2f2f2;
      display: block;
      height: 40px;
      margin: $margin-15 0;
      width: 40px;
    }
    .disable-item {
      opacity: 0.5;
    }
  }
  .price-value {
    color: $default-active-text-color;
    b {
      font-size: 30px;
      font-weight: 700;
    }
    span {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      vertical-align: top;
    }
  }
  @mixin favorite-brand-button() {
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -1px;
    margin-left: 10px;
  }
  .add-favorite-brand {
    background: #fff url($base-url + '/main/ico_right2.gif') no-repeat 10px 5px;
    @include favorite-brand-button();
    padding: 3px 10px 3px 20px;
    &:hover {
      background: #f50 url($base-url + '/main/ico_right2_w.gif') no-repeat 10px 5px;
      border: 1px solid #f50;
      color: #fff;
    }
  }
  .favorite-brand {
    @include favorite-brand-button();
    background-color: $default-active-text-color;
    border: 1px solid $default-active-text-color;
    color: #fff;
    padding: 3px 10px;
  }
}

.product-detail-action-line {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: right;
}

$product-button-height: 32px;
@mixin product-detail-button() {
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
}
.product-buy-now-button {
  @include product-detail-button();
  background-color: #aaa;
  &:hover {
    background-color: #888;
  }
}
.product-add-to-cart-button {
  @include product-detail-button();
  background-color: $default-active-text-color;
  &:hover {
    background-color: #f20;
  }
}
.product-detail-attr-warning {
  color: $default-active-text-color;
  font-size: 15px;
  text-align: right;
  margin-bottom: 3px;
}
