// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product list page.
// -----------------------------------------------------------------------------

.product-list-wide-container {
  background-color: #f8f8f8;
}

.product-list-left-box {
  background-color: #fff;
  border-top: 3px solid $default-active-text-color;
  display: inline-block;
  margin-top: 36px;
  padding: 0 10px;
  overflow: hidden;
  width: 200px;
  .title {
    color: $default-active-text-color;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -1px;
    padding: 0 10px;
  }
  .category-arrow {
    display: inline-block;
    height: 16px;
    width: 10px;
  }
}
.product-list-top-category {
  display: block;
  width: 100%;
}
.product-list-category-title {
  border-top: 1px solid #ccc;
  display: block;
  font-weight: bold;
  font-size: 13px;
  height: 30px;
  line-height: 28px;
  letter-spacing: -1px;
  padding: 0 10px;
  &:hover,&.active {
    color: $default-active-text-color;
  }
}
.product-list-category-indent {
  margin-left: 10px;
}
.product-list-category-item {
  background: url($base-url + '/main/ico_right1.gif') no-repeat 5px 7px;
  display: block;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 10px 0 13px;
  white-space: nowrap;
  &:hover,&.active {
    background: url($base-url + '/main/ico_right1_o.gif') no-repeat 5px 7px;
    color: $default-active-text-color;
  }
  &.sub {
    background: url($base-url + '/main/ico_right2.gif') no-repeat 5px 7px;
    &:hover {
      background: url($base-url + '/main/ico_right2_o.gif') no-repeat 5px 7px;
    }
  }
}

.product-list-category-depth1 {
  padding: 5px 10px 0px 0px;
  a {
    font: normal normal normal normal 12px / 16px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
  }
}

.product-list-category-depth2 {
  padding: 0px 0px 0px 10px;
}

.product-list-category-bottom {
  font: normal normal normal normal 12px / 16px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
  padding: 5px 10px 0px 0px;
}

.product-list-category-bottom-text {
  font: normal normal bold normal 12px / 16px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
  outline: rgb(102, 102, 102) none 0px;
}

$product-list-margin: 20px;
.product-list-right-box {
  padding-left: $product-list-margin;
  display: table-cell;
  min-width: 750px;
  vertical-align: top;
}

// TODO
.product-list-search-box {
  background-color: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
  .search-row {
    min-height: 38px;
    padding: 10px;
    position: relative;
    width: 100%;
    .search-label {
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin: 0 $margin-20;
      text-align: right;
      vertical-align: top;
      width: 100px;
    }
    .search-control {
      border-left: 1px solid #ccc;
      display: inline-block;
      max-width: 800px;
      min-width: 800px;
      padding: 0 0 10px 20px;
    }
    .button-item {
      background-color: #fff;
      border: 1px solid #aaa;
      box-sizing: content-box;
      cursor: pointer;
      display: inline-block;
      height: 22px;
      font-size: 11px;
      line-height: 22px;
      margin: 3px;
      padding: 0 7px;
      text-align: center;
      white-space: nowrap;
      &:hover, &.active {
        border: 2px solid #333;
        color: #333;
        margin: 2px;
      }
    }
    & + .search-row {
      background: url($base-url + '/main/dotline1.gif') repeat-x;
    }
  }
  .sort-item-box {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
    .sort-item {
      display: inline-block;
      padding-left: 15px;
      padding-right: 10px;
      & + .sort-item {
        border-left: 1px solid #aaa;
      }
      &.active {
        background: url($base-url + '/main/ico_check.png') no-repeat 0 0;
        font-weight: bold;
      }
    }
  }
}

@mixin generate-product-list-item-wrap($product-in-row) {
  .product-list-item-wrap-#{$product-in-row} {
    display: inline-block;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-y: visible;
    text-align: center;
    vertical-align: top;
    width: 100% / $product-in-row;
  }
}

@include generate-product-list-item-wrap(4);
@include generate-product-list-item-wrap(5);

.product-list-first-item {
  margin-top: 0;
}
.product-list-item-box {
  $width: 220px;
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  width: $width;
  .img-wrap {
    width: 100%;
    @include default-responsive-img-wrap();
  }
  a {
    text-decoration: none;
  }
  .product-title {
    margin-top: 5px;
    font-size: 12px;
    letter-spacing: -1px;
  }
  .product-price {
    font-size: 12px;
    strong {
      font: 500 16px 'Roboto';
    }
  }
  .heart-it {
    background: url($base-url + '/main/heart.png') no-repeat;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 35px;
    z-index: 100;
    &.active {
      background: url($base-url + '/main/heart_o.png') no-repeat;
    }
  }
  .variant-image-container {
    display: none;
  }
  &:hover {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-top: -10px;
    padding-top: 10px;
    $padding: 10px;
    padding-left: $padding;
    padding-right: $padding;
    width: $width + $padding * 2;
    z-index: $dropdown-z-index;
    a {
      color: $brand-color;
    }
    .heart-it {
      right: 10px + $padding;
      top: 5px + $padding;
    }
    .variant-image-container {
      background: url($base-url + '/main/dotline2.gif') repeat-x;
      display: block;
      padding: 10px;
      position: relative;
      width: 100%;
      .variant-item {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        // width: percentage(1/3);
        width: 60px;
        span {
          overflow-x: hidden;
          white-space: nowrap;
        }
        .img-wrap {
          width: 100%;
          @include default-responsive-img-wrap();
        }
        &:hover {
          color: $brand-color;
        }
      }
      @mixin variant-arrow-wrap() {
        background-color: #fff;
        cursor: pointer;
        display: inline-block;
        $height: 30px;
        height: $height;
        line-height: $height;
        margin-top: -$height / 2;
        position: absolute;
        top: 50%;
        width: 15px;
      }
      $arrow-width: 10px;
      $arrow-color: #333;
      .arrow-left-wrap {
        @include variant-arrow-wrap();
        left: 0;
        .arrow {
          @include simple-arrow-left($arrow-width, $arrow-color);
          position: absolute;
          top: 50%;
          right: 4px;
          margin-top: -$arrow-width;
        }
      }
      .arrow-right-wrap {
        @include variant-arrow-wrap();
        right: 0;
        .arrow {
          @include simple-arrow-right($arrow-width, $arrow-color);
          position: absolute;
          left: 4px;
          top: 50%;
          margin-top: -$arrow-width;
        }
      }
    }
  }
}
