// -----------------------------------------------------------------------------
// This file contains styles that are specific to the signin page.
// -----------------------------------------------------------------------------
$padding-top: 15px;
$padding-bottom: 5px;
$img-height: 40px;
.signin-header-box {
  // border-bottom: 1px solid #e5e5e5;
  padding: $padding-top 0 $padding-bottom;
  text-align: center;
  width: 100%;
  img {
    display: inline-block;
    width: $img-height * 5;
  }
}
.signin-content-container {
  position: relative;
  display: block;
  width: 100%;
  background-image: url("https://i.alicdn.com/ae-login/images/banner-2.9db93b48.png");
  background-position: -200px;
  height: 500px;
  color: #666;
  .banner-title {
    display: inline-block;
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
    padding: 0 15px;
    line-height: 30px;
  }
  .banner-text {
    font-size: 12px;
    margin-top: 10px;
    line-height: 20px;
    padding: 0 15px;
  }
}
$sign-form-width: 450px;
@mixin signin-form-inner() {
  padding: 20px;
  width: $sign-form-width;
  background-color: #ffffff;
  & label {
    font: 700 12px arial;
  }
  input:not([type="checkbox"]) {
    border: 1px solid #a6a6a6;
    font-size: 14px;
    margin: 10px 0 15px;
    padding: 10px 15px;
    width: 100%;
    &:hover {
      border: 1px solid #000;
    }
  }
  a {
    display: inline-block;
    color: #08c;
    margin: 0 15px 5px 0;
  }
  .remember-me {
    margin: 10px 0;
  }
  .btn-signin {
    @include button-default-styles();
    color: #fff;
    margin: 10px 0 $margin-20 0;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 0;
    width: 100%;
  }
}
// 2016. 04. 17. [heekyu] New UI
.signin-form-box {
  // 2016. 04. 17. [heekyu] New UI
  @include signin-form-inner();
  width: 100%;
}

.signin-popup {
  @include popup-body($sign-form-width, inherit);
  @include signin-form-inner();
  border: 1px solid #aaa;
}
