// -----------------------------------------------------------------------------
// This file contains styles that are specific to the signup page.
// -----------------------------------------------------------------------------

.signup-global-container {
  background-color: #f8f8f8;
  padding: 50px 0 90px 0;
}
.signup-container {
  background-color: #fff;
  border: 2px solid #ddd;
  display: block;
  margin: 30px auto 0 auto;
  padding: 46px 73px;
  width: 550px;

  .desc1 {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0;
    text-align: center;
  }
  .desc2 {
    color: #777;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }
  .divider {
    @include horizontal-divider(2px, 15px);
  }

  .button-line {
    $height: 48px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    @mixin button() {
      border: 0;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      font-size: 16px;
      height: $height;
      line-height: $height;
      margin: 0 $margin-15;
      padding: 0;
      width: 96px;
    }
    .button-back {
      @include button();
      background-color: #aaa;
    }
    .button-next {
      @include button();
      background-color: $default-active-text-color;
    }
  }
}
.signup-progress-img {
  width: 100%;
  margin-bottom: 15px;
}
.signup-header {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #e6e6e6;
  .signup-step-wrap {
    padding: 0 70px;
    display: inline-block;
    width: 350px;
    color: #999;
    margin-bottom: -2px;
    .step-number {
      $number-width: 30px;
      color: #fff;
      background-color: #999;
      margin: $margin-15;
      display: inline-block;
      width: $number-width;
      height: $number-width;
      line-height: $number-width;
      border-radius: 50%;
    }
    span {
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      vertical-align: middle;
    }
    &.active {
      color: #3e3e3e;
      border-bottom: 2px solid #e62e04;
      .step-number {
        background-color: #e62e04;
      }
    }
  }
}

.signup-form-section {
  margin: 30px 0;
  text-align: left;
  .title {
    $height: 35px;
    border-bottom: 1px solid #bbb;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    height: $height;
    line-height: $height;
    position: relative;
    width: 100%;
    .desc-required {
      color: $default-active-text-color;
      font-size: 12px;
      height: initial;
      line-height: initial;
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
  .form-group {
    $height: 30px;
    display: table;
    margin: 10px 0;
    position: relative;
    width: 100%;
    label {
      color: #444;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      height: $height;
      line-height: $height;
      overflow: hidden;
      width: 100px;
      white-space: nowrap;
      .required {
        display: inline-block;
        text-align: center;
        width: $margin-15;
      }
    }
    @mixin signup-input() {
      border: 1px solid #ddd;
      border-radius: 1px;
      font-size: 14px;
      padding: 7px 15px;
      width: 100%;
    }
    .form-input {
      display: table-cell;
      vertical-align: top;
      width: 100%;
      input, textarea {
        @include signup-input();
      }
    }
    .input-lastname {
      display: inline-block;
      vertical-align: top;
      width: 100px;
      input {
        @include signup-input();
      }
    }
    .input-firstname {
      display: inline-block;
      margin-left: 10px;
      vertical-align: top;
      width: 190px;
      input {
        @include signup-input();
      }
    }
    .input-biz-image {
      display: inline-block;
      border: 1px solid #ddd;
      border-radius: 1px;
      font-size: 14px;
      padding: 7px 15px;
      vertical-align: top;
      width: 220px;
    }
    .biz-file-input {
      background-image: url($base-url + '/main/signup-file-upload.png');
      cursor: pointer;
      height: 32px;
      position: absolute;
      right: 0;
      top: 1px;
      width: 55px;
      input {
        border: 0;
        cursor: pointer;
        height: 100%;
        right: 0;
        filter: alpha(opacity=0); /* IE < 9 */
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
    .form-tel {
      @include signup-input();
      background-color: #fff;
      display: table-cell;
      padding: 0;
      position: relative;
      vertical-align: top;
      .area-code {
        img {
          vertical-align: middle;
        }
        span {
          margin-left: 7px;
          vertical-align: middle;
        }
        border-right: 1px solid #ddd;
        cursor: pointer;
        display: inline-block;
        padding: 0 15px;
        position: relative;
        width: 110px;
        .arrow-down {
          @include simple-arrow-down(5px, #444);
          position: absolute;
          top: 50%;
          right: 10px;
        }
      }
      input {
        border: 0;
        padding: 7px 15px;
        width: 180px;
      }
      .dropdown-box {
        background-color: #fff;
        border: 1px solid #ddd;
        cursor: pointer;
        display: none;
        left: -1px;
        padding: 7px 15px;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 150;
        .dropdown-item {
          &:hover {
            color: $default-active-text-color;
          }
        }
        img {
          vertical-align: middle;
        }
        span {
          margin-left: 7px;
          vertical-align: middle;
        }
        .number {
          color: #aaa;
          opacity: 0.9;
        }
      }
    }
  }
}

.signup-terms-section {
  margin: 10px 0 30px;
  .title {
    font-size: 16px;
    margin-bottom: $margin-15;
  }
  .content-box {
    border: 1px solid #ddd;
    border-radius: 1px;
    display: block;
    height: 100px;
    overflow-y: scroll;
    width: 100%;
    iframe {
      border: 0;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}

.signup-contact-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup-greeting {
  margin-bottom: 30px;
  .title {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: $margin-15;
    text-align: center;
  }
  .description {
    color: #666;
    font-size: 14px;
    line-height: 25px;
    b {
      color: $default-active-text-color;
    }
  }
}

.form-input-warning {
  color: $default-active-text-color;
  display: block;
  font-size: 12px;
  opacity: 0.8;
  padding: 3px $margin-15 0 $margin-15;
}

.signup-footer-link-line {
  letter-spacing: -1px;
  margin: 30px 0 10px 0;
  text-align: center;
  width: 100%;
  .item {
    display: inline;
    padding: 0 10px;
    font-size: 13px;
    text-align: center;
    & + .item {
      border-left: 1px solid #bbb;
    }
  }
}
.signup-footer-copywrite {
  letter-spacing: 1px;
  font-size: 10px;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

.user-info-change-password {
  background-color: #ee513f;
  border: 0;
  border-radius: 3px;
  color: #fff;
  height: 40px;
  padding: 0 30px;
  &:hover {
    background-color: #cc2b19;
  }
}
