// -----------------------------------------------------------------------------
// This file contains styles that are specific to the mypage.
// -----------------------------------------------------------------------------

.order-list-container {
  width: 100%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding: $margin-15;
  .order-box {
    width: 100%;
    display: block;
    padding-bottom: $margin-15;
    border-bottom: 1px solid #f2f2f2;
    + .order-box {
      margin-top: $margin-15;
    }
  }
  .order-head {
    background-color: #f2f2f2;
    padding: $margin-15;
    a {
      color: #06c;
    }
  }
  .order-product-box {
    width: 70%;
    display: inline-block;
  }
  .order-product-item {
    padding: $margin-15 0;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #f2f2f2;
    .thumbnail-box {
      display: inline-block;
      padding: 0 10px;
      width: 100px;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .content-box {
      display: inline-block;
      vertical-align: top;
    }
  }
  .order-action-box {
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: $margin-15;
  }
}