// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product detail page.
// -----------------------------------------------------------------------------
$product-detail-thumbnail-width: 50px;
$product-detail-thumbnail-margin: 15px;
.product-detail-left {
  width: 550px;
  vertical-align: top;
  position: relative;
  display: table-cell;
  .left-thumbnail-container {
    display: inline-block;
    width: $product-detail-thumbnail-width + 2px;
    margin-right: $product-detail-thumbnail-margin;
    vertical-align: top;
    span {
      position: relative;
      display: block;
      width: $product-detail-thumbnail-width + 2px;
      height: $product-detail-thumbnail-width + 2px;
      border: 1px solid #dedede;
      margin-bottom: $product-detail-thumbnail-margin;
      img {
        position: absolute;
        top: 0;
        width: $product-detail-thumbnail-width;
        height: $product-detail-thumbnail-width;
      }
    }
    .image-active {
      border: 2px solid #FCAB42;
      img {
        margin-left: -1px;
        margin-top: -1px;
      }
    }
  }
  .main-image-box {
    display: inline-block;
    position: relative;
    width: 450px;
    height: 450px;
    overflow: hidden;
    border: 1px solid #dedede;
    img {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .enlarge-image-box {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: $product-detail-thumbnail-margin;
    width: 450px;
    height: 450px;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      display: block;
      width: 200%;
      height: auto;
    }
  }
}
.product-detail-right {
  margin-left: 20px;
  display: table-cell;
  vertical-align: top;
  .product-title {
    color: rgb(51, 51, 51);
    height: 44px;
    width: 600px;
    perspective-origin: 307.5px 22px;
    transform-origin: 307.5px 22px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 18px / 22px Arial, Helvetica, sans-senif, SimSun, 宋体;
    margin: 0px 0px 8px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 15px;
  }
  .divider {
    @include horizontal-divider(20px);
  }
  .price-info-box {
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
    padding: 10px 20px;
  }
  .normal-field-box {
    width: 100%;
    padding: 10px 20px;
  }
  .field-label {
    width: 20%;
    min-width: 30px;
    padding-right: 10px;
    display: inline-block;
    color: #999;
  }
  .field-content {
    width: 80%;
    display: inline-block;
  }
  .price-value {
    b {
      color: #f60;
      font-size: 18px;
    }
    color: #666;
    font-size: 14px;
  }
}
