// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product detail page.
// -----------------------------------------------------------------------------
$product-detail-thumbnail-width: 50px;
$product-detail-thumbnail-margin: 15px;
.product-detail-left {
  width: 550px;
  vertical-align: top;
  position: relative;
  display: table-cell;
  .left-thumbnail-container {
    display: inline-block;
    width: $product-detail-thumbnail-width + 2px;
    margin-right: $product-detail-thumbnail-margin;
    vertical-align: top;
    span {
      position: relative;
      display: block;
      width: $product-detail-thumbnail-width + 2px;
      height: 0;
      padding-top: 150%;
      border: 2px solid #dedede;
      margin-bottom: $product-detail-thumbnail-margin;
      img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    .image-active {
      border: 2px solid #FCAB42;
    }
  }
  .main-image-box {
    display: inline-block;
    position: relative;
    width: 450px;
    height: 675px;
    overflow: hidden;
    border: 1px solid #dedede;
    img {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .enlarge-image-box {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 450px;
    height: 675px;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      display: block;
      width: 200%;
      height: auto;
    }
  }
}
.product-detail-right {
  margin-left: 20px;
  display: table-cell;
  vertical-align: top;
  .product-title {
    color: rgb(51, 51, 51);
    height: 44px;
    width: 600px;
    perspective-origin: 307.5px 22px;
    transform-origin: 307.5px 22px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 18px / 22px Arial, Helvetica, sans-senif, SimSun, 宋体;
    margin: 0px 0px 8px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 15px;
  }
  .divider {
    @include horizontal-divider(20px);
  }
  .price-info-box {
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
    padding: 10px 20px;
  }
  .normal-field-box {
    width: 100%;
    padding: 10px 20px;
    input[type="number"] {
      padding: 5px;
      width: 70px;
    }
  }
  .field-label {
    width: 20%;
    min-width: 30px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
    color: #999;
  }
  .field-content {
    width: 80%;
    display: inline-block;
    .attribute-item-text {
      $padding: 5px;
      border: 1px solid #000;
      display: inline-block;
      padding: 1px $padding;
      margin-right: 10px;
      cursor: pointer;
      &.active {
        padding: 0 $padding - 1px;
        border: 2px solid $default-active-text-color;
      }
    }
    img {
      width: 40px;
      height: 60px;
      border: 1px solid #f2f2f2;
      padding: 1px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      &.active {
        border: 2px solid $default-active-text-color;
        padding: 0;
      }
    }
    .disable-item {
      opacity: 0.5;
    }
  }
  .price-value {
    b {
      color: #f60;
      font-size: 18px;
    }
    color: #666;
    font-size: 14px;
  }
}

$product-button-height: 32px;
@mixin product-detail-button() {
  width: 150px;
  display: inline-block;
  margin-right: $margin-20;
  padding: 0;
  height: $product-button-height;
  line-height: $product-button-height;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 1px;
  &:hover {
    opacity: 0.8;
  }
}
.product-buy-now-button {
  @include product-detail-button();
  border: 1px solid #f29720;
  background-color: #fd9729;
}
.product-add-to-cart-button {
  @include product-detail-button();
  border:1px solid #eb4e01;
  background-color: #f35000;
}
