// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.page-button-line {
  padding: 6px 10px;
  width: 100%;
  background-color: #f5f5f5;
  margin: $margin-15 0;
  text-align: center;
  .page-button {
    display: inline-block;
    margin: 0 5px;
    $page-button-width: 30px;
    width: $page-button-width;
    height: $page-button-width;
    line-height: $page-button-width;
    text-align: center;
    font-size: 14px;
    color: #06c;
    border: 1px solid #d3d3d4;
    cursor: pointer;
    background-color: #fafafa;
    &.active {
      background-color: transparent;
      border: 0;
      margin: 0;
      color: #999;
      cursor: default;
      &:hover {
        border: 0;
        font-weight: 400;
      }
    }
    &:hover {
      border: 1px solid #aaa;
      font-weight: 700;
    }
  }
}

@mixin arrow($height) {
  background-image: url('http://imgs.coupangcdn.com/image/coupang/detail/bg_detail_sprite_160322.png');
  background-repeat: no-repeat;
  box-sizing: content-box;
  cursor: pointer;
  height: ($height - 3px) / 2;
}
@mixin input-number-contents($input-width, $arrow-width, $height) {
  input {
    border: 0;
    color: #333;
    display: inline-block;
    height: $height - 2px;
    line-height: $height - 2px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: $input-width;
  }
  span {
    border-left: 1px solid #aaa;
    display: inline-block;
    vertical-align: top;
    width: $arrow-width - 1px;
  }
  .up {
    @include arrow($height);
    background-position: -33px -210px;
    width: 100%;
  }
  .down {
    @include arrow($height);
    background-position: -33px -225px;
    border-top: 1px solid #aaa;
    width: 100%;
  }
}

.input-number-count-box-center {
  $height: 27px;
  border: 1px solid #aaa;
  font-size: 15px;
  height: $height;
  margin-top: - $height / 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: - (42px + 20px) / 2;
  @include input-number-contents(42px, 20px, $height);
}

.input-number-container {
  $input-width: 36px;
  $arrow-width: 20px;
  $height: 23px;
  background-color: #fff;
  border: 1px solid #aaa;
  display: block;
  height: $height;
  position: relative;
  text-align: left;
  width: $input-width + $arrow-width;
  input {
    border: 0;
    color: #333;
    display: inline-block;
    height: $height - 2px;
    line-height: $height - 2px;
    padding: 0;
    text-align: center;
    width: $input-width;
  }
  @mixin arrow() {
    background-image: url('http://imgs.coupangcdn.com/image/coupang/detail/bg_detail_sprite_160322.png');
    background-repeat: no-repeat;
  }
  span {
    display: inline-block;
    width: $arrow-width - 1px;
  }
  .up {
    @include arrow();
    background-position: -33px -210px;
    width: 100%;
  }
  .down {
    @include arrow();
    background-position: -33px -225px;
    border-top: 1px solid #aaa;
    width: 100%;
  }
}
