// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header-wide-container {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
$header-height: 40px;
$header-margin: 15px;
.header-wrap {
  padding: $header-margin 0;
  position: relative;
  .header-item {
    height: $header-height;
    line-height: $header-height;
    vertical-align: top;
    display: inline-block;
  }
}
.header-logo {
  display: inline-block;
  width: $header-height * 4;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 30px;
}
.header-search-box {
  display: inline-block;
  position: relative;
  height: $header-height;
  vertical-align: top;
  input {
    border: 1px solid #cbcbcb;
    vertical-align: top;
    border-right: 0;
    min-width: 450px;
    max-width: 450px; // TODO responsive
    padding: 0 15px;
    height: $header-height;
    display: inline-block;
    font-size: 16px;
  }
  .header-search-category-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    height: $header-height;
    line-height: $header-height;
    width: 140px;
    font-size: 100%;
    cursor: pointer;
    $divider-margin-top: 15%;
    .search-divider {
      position: absolute;
      top: $divider-margin-top;
      height: 100% - $divider-margin-top * 2;
      left: 0;
      width: 1px;
      background-color: #eee;
    }
    .arrow-down {
      @include simple-arrow-down(5px, #ddd);
      position: absolute;
      top: 50%;
      right: 10px;
    }
    .search-dropdown-box {
      z-index: 5;
      position: absolute;
      width: 100%;
      display: block;
      height: auto;
      top: 100%;
      margin-top: 1px;
      left: 0;
      border-left: 1px solid #cbcbcb;
      border-right: 1px solid #cbcbcb;
    }
    $dropbox-height: 40px;
    .search-dropdown-item {
      display: none;
      position: relative;
      border-bottom: 1px solid #cbcbcb;
      width: 100%;
      height: $dropbox-height;
      line-height: $dropbox-height;
      text-align: center;
      cursor: pointer;
      background-color: #ffffff;
    }
  }

  .header-search-button {
    z-index: 5;
    width: 50px;
    display: inline-block;
    height: $header-height;
    background: #e62e04 url("http://i.alicdn.com/ae-header/20151124174454/buyer/common/img/header-sprite.png") no-repeat -587px 8px;
    border: 0;
  }
}

$mymenu-margin: 20px;

.header-mymenu-wrap {
  position: absolute;
  top: $header-margin;
  right: 0;
  height: $header-height;
  line-height: $header-height;
  display: inline-block;
}
.header-mymenu-cart {
  cursor: pointer;
  color: rgb(51, 51, 51);
  padding: 0 10px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  z-index: 3;
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 13px / 16.9px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;

  .cart-icon {
    display: inline-block;
    margin-right: $mymenu-margin / 2;
    width: 28px;
    height: 28px;
    overflow: hidden;
    background: url("http://i.alicdn.com/ae-header/20151124174454/buyer/common/img/header-sprite.png") no-repeat scroll -100px -50px / auto padding-box border-box;
  }
  &:hover {
    .cart-icon {
      background-position: -100px 0;
    }
  }
  .cart-count {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 16px;
    right: 10px;
    min-width: 25px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 25px;
    background: rgb(230, 46, 4) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    font: normal normal normal normal 12px / 16px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
    padding: 0px 2px;
  }
}

@mixin header-dropdown-box($size) {
  width: $size;
  height: initial;
  line-height: initial;
  display: inline-block;
  position: absolute;
  margin-top: 0;
  top: 100%;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}
@mixin header-dropdown-menu() {
  display: inline-block;
  width: 100%;
  padding: 10px $margin-15;
  cursor: pointer;
  &:hover {
    color: $default-active-text-color;
    font-weight: 500;
  }
}
.header-mymenu-account {
  display: inline-block;
  vertical-align: middle;
  font: normal normal normal normal 13px / 16.9px 'Open Sans', Arial, Helvetica, sans-senif, SimSun, 宋体;
  padding: 0 10px;
  cursor: pointer;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  .dropdown-box {
    display: none;
  }
  &:hover {
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    .dropdown-box {
      @include header-dropdown-box(200px);
      border: 1px solid #e8e8e8;
    }
    .dropdown-menu {
      @include header-dropdown-menu();
    }
    .account-icon {
      background-position: -50px 0;
    }
  }
  .account-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: $mymenu-margin / 2;
    width: 28px;
    height: 28px;
    overflow: hidden;
    background: rgb(255, 255, 255) url("http://i.alicdn.com/ae-header/20151124174454/buyer/common/img/header-sprite.png") no-repeat scroll -50px -50px / auto padding-box border-box;
  }
  .account-menus-wrap {
    display: inline-block;
    .ua-line {
      margin: 0 5px;
      color: #e9e9e9;
    }
    .my-linkshops {
    }
  }
}

.top-helper-bar {
  $height: 35px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e8e8e8;
  height: $height;
  position: relative;
  .right-menus {
    position: absolute;
    top: 0;
    right: $margin-20;
    height: $height;
    line-height: $height;
    display: block;
  }
  .right-menu-item {
    display: inline-block;
    position: relative;
    padding: 0 $margin-15;
    color: #999;
    font-size: 12px;
    cursor: pointer;
    .dropdown-box {
      display: none;
    }
    &:hover {
      background-color: #fff;
      .dropdown-box {
        @include header-dropdown-box(120px);
        right: -1px;
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
      }
      .dropdown-menu {
        @include header-dropdown-menu();
      }
      .dropdown-menu.active {
        color: $default-active-text-color;
      }
    }
  }
  .right-menu-divider {
    @include vertical-divider(0, #e9e9e9);
    display: inline-block;
    vertical-align: top;
  }
}
