// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.top-banner {
  min-width: 720px;
  height: 80px;
  width: 100%;
  background-image: url('//s3.ap-northeast-2.amazonaws.com/linkshops/front/resource/banner/top_banner_20160408.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #ffde6b;
  cursor: pointer;
}
.header-wide-container {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  min-width: 750px;
  width: 100%;
}
$header-height: 40px;
$header-margin: 15px;
.header-wrap {
  min-width: 900px;
  padding: $header-margin 0;
  position: relative;
  .header-item {
    height: $header-height;
    line-height: $header-height;
    vertical-align: top;
    display: inline-block;
  }
  form {
    display: inline-block;
  }
}
.header-logo {
  display: inline-block;
  width: $header-height * 5;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 30px;
}
.header-search-box {
  display: inline-block;
  position: relative;
  height: $header-height;
  vertical-align: top;
  $border-color: #aaa;
  input {
    border: 1px solid $border-color;
    vertical-align: top;
    border-left: 0;
    min-width: 450px;
    max-width: 450px; // TODO responsive
    padding: 0 15px;
    height: $header-height;
    display: inline-block;
    font-size: 16px;
  }
  .header-search-category-box {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: $header-height;
    line-height: $header-height;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 140px;
    z-index: 1000;
    $divider-margin-top: 15%;
    .search-divider {
      position: absolute;
      top: $divider-margin-top;
      height: 100% - $divider-margin-top * 2;
      right: 0;
      width: 1px;
      background-color: #eee;
    }
    .arrow-down {
      @include simple-arrow-down(5px, #333);
      position: absolute;
      top: 50%;
      right: 10px;
    }
    .search-dropdown-box {
      z-index: 5;
      position: absolute;
      width: 100%;
      display: block;
      height: auto;
      top: 100%;
      margin-top: 1px;
      left: -1px;
      border-left: 1px solid #cbcbcb;
      border-right: 1px solid #cbcbcb;
    }
    $dropbox-height: 40px;
    .search-dropdown-item {
      position: relative;
      border-bottom: 1px solid #cbcbcb;
      width: 100%;
      z-index: 10010;
      height: $dropbox-height;
      line-height: $dropbox-height;
      text-align: center;
      cursor: pointer;
      background-color: #ffffff;
      &.active {
        color: $default-active-text-color;
      }
    }
  }

  .header-search-button {
    background: url("https://s3.ap-northeast-2.amazonaws.com/linkshops/front/resource/header/ico_search.png") no-repeat;
    border: 0;
    display: inline-block;
    height: $header-height;
    margin-left: -1px;
    padding: 0;
    z-index: 5;
    width: 42px;
  }
}

$mymenu-margin: 20px;

.header-right-menus {
  $height: 27px;
  height: $height;
  line-height: $height;
  margin-top: -$height / 2;
  position: absolute;
  right: 0;
  top: 50%;
  .menu-item {
    display: inline-block;
    vertical-align: top;
    span {
      vertical-align: top;
    }
    img {
      margin-left: 5px;
    }
    &.ko {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: -1px;
    }
    &.en {
      font-size: 13px;
      font-weight: 700;
      text-transform: lowercase;
    }
    padding: 0 $margin-15;
    +.menu-item {
      border-left: 1px solid #ccc;
    }
    .cart-count {
      background-color: $default-active-text-color;
      border: 1px solid #e54c00;
      border-radius: 3px;
      color: #fff;
      display: inline;
      letter-spacing: 0;
      margin-left: 3px;
      padding: 0 7px;
      vertical-align: top;
    }
  }
}

.header-mymenu-wrap {
  position: absolute;
  top: $header-margin;
  right: 0;
  height: $header-height;
  line-height: $header-height;
  display: inline-block;
}
@mixin header-icon-sprites() {
  display: inline-block;
  margin-right: $mymenu-margin / 2;
  overflow: hidden;
  background: url("http://i.alicdn.com/ae-header/20151124174454/buyer/common/img/header-sprite.png");
  background-repeat: no-repeat;
}

@mixin header-dropdown-box() {
  background-color: #fff;
  display: inline-block;
  margin-top: 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
@mixin header-dropdown-menu() {
  cursor: pointer;
  padding: 0 $margin-15;
  white-space: nowrap;
  &:hover {
    color: $default-active-text-color;
    font-weight: 500;
  }
}

.top-helper-bar {
  $height: 30px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
  height: $height;
  position: relative;
  @mixin header-menu-item($gap) {
    color: #555;
    display: inline-block;
    padding: 0 $gap;
    position: relative;
    .dropdown-box {
      display: none;
    }
    &:hover {
      color: $default-active-text-color;
    }
    &.open {
      $open-border-color: #999;
      border-left: 1px solid $open-border-color;
      border-right: 1px solid $open-border-color;
      background-color: #fff;
      z-index: $dropdown-z-index;
      .dropdown-box {
        @include header-dropdown-box();
        left: -1px;
        border-left: 1px solid $open-border-color;
        border-right: 1px solid $open-border-color;
        border-bottom: 1px solid $open-border-color;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        box-sizing: content-box;
        color: #333;
        padding: 10px 0;
      }
      .dropdown-menu {
        @include header-dropdown-menu();
      }
      .dropdown-menu.active {
        color: $default-active-text-color;
      }
    }
  }
  .left-menus {
    $image-height: 26px;
    display: block;
    height: $height;
    line-height: $height;
    .left-menu-item {
      @include header-menu-item(10px);
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      cursor: default;
      height: $height;
      line-height: $height;
      margin-right: -1px;
      img {
        display: inline-block;
        height: $image-height;
        margin-top: 2px; // 30px - 26px magic number TODO
        pointer-events: none;
        width: $image-height;
      }
      span {
        vertical-align: top;
      }
      &.open {
        .dropdown-menu {
          height: $image-height;
          margin-left: 5px;
        }
      }
    }
  }
  .right-menus {
    display: block;
    height: $height;
    line-height: $height;
    position: absolute;
    right: 0;
    top: 0;
  }
  .helper-menu-item {
    @include header-menu-item($margin-15);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    cursor: pointer;
    margin-right: -1px;
  }
  .krw, .usd, .cny {
    width: 18px;
    height: 18px;
    color: #444;
    text-align: center;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}
