// -----------------------------------------------------------------------------
// This file contains all styles related to the header of My Pages
// -----------------------------------------------------------------------------

.mypage-navigation {
  $height: 45px;
  height: $height;
  line-height: $height;
  margin: 0 0 20px 0;
  background: #cc2a19;
  color: #fff;
  width: 100%;
  a {
    color: inherit;
  }
}
.mypage-nav-container {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: block;
  max-width: 1200px;
  margin: auto;
  .mypage-nav-menu {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: -1px;
    padding: 0 $margin-15;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 150px;
    &:hover {
      background-color: #c71801;
    }
    &.active {
      background-color: #822417;
    }
  }
}
.mypage-contents-container {
  background-color: #fff;
  display: block;
  margin: auto;
  max-width: 1200px;
  overflow: visible;
  padding-bottom: $margin-20;
  text-align: center;
}
$mypage-active-color: #f60;
.mypage-leftbar-box {
  border: 1px solid #e8e8e8;
  background-color: #fff;
  display: inline-block;
  margin-right: 20px;
  text-align: left;
  width: 220px;
  .mypage-leftbar-title {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    padding: 15px 15px 5px 15px;
    font-weight: 500;
  }
  .mypage-leftbar-item {
    display: inline-block;
    padding: 5px 0 5px 15px;
    width: 100%;
    font-size: 14px;
    span {
      cursor: pointer;
      &:hover {
        color: $mypage-active-color;
      }
    }
    &.active {
      background-color: #f2f2f2;
      border-left: 3px solid $mypage-active-color;
      color: $mypage-active-color;
    }
  }
}

.mypage-right-box {
  display: inline-block;
  padding-bottom: $margin-15;
  text-align: left;
  vertical-align: top;
  width: 920px;
  h2 {
    font-weight: 500;
  }
  @mixin mypage-simple-bar() {
    width: 100%;
    padding: $margin-15;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    margin-bottom: $margin-20;
    color: #999;
  }
  .order-status-bar {
    @include mypage-simple-bar();
    span {
      margin-right: $margin-15;
      cursor: pointer;
      &:hover, &.active {
        color: $mypage-active-color;
      }
    }
  }
  .order-search-bar {
    @include mypage-simple-bar();
    input {
      margin-right: $margin-15;
    }
    button {
      @include button-default-styles();
    }
  }
}
