// -----------------------------------------------------------------------------
// This file contains all styles related to all popups
// -----------------------------------------------------------------------------
.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $dropdown-overlay-z-index;
  background-color: rgba(0, 0, 0, 0.6);
  &.transparent {
    background-color: transparent;
    cursor: default;
  }
}
$padding-horizontal: 40px;
$padding-vertical: 20px;
$error-popup-width: 500px;
$error-popup-height: 250px;
.error-popup-box {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  width: $error-popup-width;
  height: $error-popup-height;
  line-height: $error-popup-height;
  text-align: center;
  margin-left: -$error-popup-width / 2;
  margin-top: -$error-popup-height / 2;
  z-index: 20010;
  background-color: #fff;
  color: #000;
  .error-message {
    display: inline;
    font-size: 14px;
    font-weight: 700;
    padding: $padding-vertical $padding-horizontal;
    border: 1px solid #f6312f;
  }
  .close-button {
    border: 1px solid #000;
    bottom: $padding-vertical;
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 0;
    position: absolute;
    right: $padding-horizontal;
    width: 80px;
  }
}

@mixin cart-saved-successfully() {
  background: url("//i.alicdn.com/ae-detail-ui/node_modules/@alife/beta-feedback/src/img/sprite-feedback-standalone.7350efc5.png") no-repeat;
  background-position: -6px -82px;
  padding: 10px 10px 20px 56px;
}

$cart-popup-width: 380px;
$cart-popup-height: 150px;
.add-cart-popup {
  @include popup-body($cart-popup-width, $cart-popup-height);
  padding: 20px 15px 5px 15px;
  top: 50%;
  margin-top: -($cart-popup-height + 50px);
  .popup-title {
    text-align: center;
    span {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 25px;
      width: 100%;
    }
    .button-line {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      width: 100%;
      white-space: nowrap;
      button {
        background-color: #f2f2f2;
        border: 0;
        border-radius: 5px;
        color: #555;
        display: inline-block;
        margin: 5px;
        padding: 8px 15px;
        &:hover {
          background-color: $default-active-text-color;
          color: #fff;
        }
      }
    }
  }
}

.add-wish-popup {
  @include popup-body($cart-popup-width, $cart-popup-height);
  padding: 20px 15px 15px 15px;
  .popup-title {
    @include cart-saved-successfully();
    font-size: 14px;
    font-weight: 500;
    span {
      display: inline-block;
      font-size: 14px;
      margin-bottom: $margin-15;
      width: 100%;
    }
    button {
      margin-right: $margin-15;
      padding: 3px 5px;
    }
    .visit-wish-list-button {
      @include button-default-styles();
      padding: 3px 15px;
      display: inline-block;
      font-size: 14px;
    }
  }
  .popup-body {

  }
}

.popup-close-button {
  background-image: url($base-url + '/main/btn-x.png');
  cursor: pointer;
  height: 13px;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 13px;
}

.change-password-popup {
  @include popup-body(350px, 300px);
  padding: 15px 15px 30px;
  .title {
    color: #555;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: $margin-15;
  }
  .description {
    color: #777;
    font-size: 11px;
    margin: 0 0 50px;
  }
  input {
    border: 1px solid #ddd;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    margin-top: -1px;
    padding: $margin-15;
    width: 100%;
  }
}
.shipping-detail-popup {
  @include popup-body(600px, auto);
  .popup-title {
    background-color: #1d3a4b;
    color: #fff;
    height: 39px;
    line-height: 39px;
    position: relative;
    padding: 0 15px;
  }
  .popup-close-button {
    top: 13px;
  }
  .popup-content {
    background-color: #fff;
    padding: 15px;
    table {
      width: 100%;
    }
    thead {
      background-color: #f7f7f7;
    }
    tr {
      border-bottom: 1px solid #f7f7f7;
    }
    th,td {
      padding: 15px;
      text-align: center;
    }
  }
}

.shipping-policy-container {
  @include popup-body(600px, inherit);
  border-radius: 2px;
  position: absolute;
  padding: 15px 15px 30px 15px;
  /*
  .title {
    border-bottom: 1px solid #aaa;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
  }
  .section {
    margin-bottom: 20px;
  }
  .section-title {
    color: #ed4500;
    font-size: 16px;
    margin: 15px 0;
  }
  .section-subtitle {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
  }
  span {
    color: #aaa;
    font-size: 12px;
  }
  table {
    border: 1px solid #aaa;
    color: #777;
    font-weight: 400;
    margin: 10px 0;
    tr {
      + tr {
        td {
          border-top: 1px solid #aaa;
        }
      }
    }
    td {
      padding: 5px 10px;
      + td {
        border-left: 1px solid #aaa;
      }
    }
    .center {
      text-align: center;
    }
  }
  */
}
